{% load static %}

{% for comment in comments %}
  {{ comment.content }}
{% endfor %}

<div class="my-4">
  <div class="alert alert-success d-none" id="alert-box" role="alert"></div>
  <form method="post" action="{% url 'pages:home' %}">
    {% csrf_token %}
    <input type="hidden" data-url="{% url 'comments:comments_list' %}" id="comment-list-url" />
    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input type="text" class="form-control" id="name-field" placeholder="نام شما" />
          <label for="floatingInputGrid">نام شما</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input type="text" class="form-control" id="phone-number-field" placeholder="شماره تلفن" />
          <label for="floatingInputGrid">شماره تلفن</label>
        </div>
      </div>
      <div class="form-floating">
        <textarea class="form-control" id="content-field" placeholder="Leave a comment here" style="height: 100px"></textarea>
        <label for="floatingTextarea2">نظر خود را بنویسید</label>
      </div>
    </div>
    <a href="#" id="send_comment" class="btn btn-warning rounded-4 py-4 mt-2">
      ارسال نظر
      <img src="{% static 'icons/Send.svg' %}" alt="فلش سمت چپ" width="24px" height="24px" />
    </a>
  </form>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $('#send_comment').click(function (e) {
      e.preventDefault()
      var url = $('#comment-list-url').data('url')
      var name = $('#name-field').val()
      var phone_number = $('#phone-number-field').val()
      var content = $('#content-field').val()
      var page_id = 'home'
      $.ajax({
        url: url,
        data: {
          name: name,
          phone_number: phone_number,
          content: content,
          page_id: page_id
        },
        success: function (response_data) {
          if (response_data.success) {
            $('#alert-box').removeClass('d-none')
            $('#alert-box').html(نظر شما با موفقیت ثبت شد)
          }
        }
      })
    })
  })
</script>
