# Django files
*.pyc
**__pycache__/
*.pyo
*.db
*.sqlite3
*.log
.env


**/migrations/**
!**/migrations
!**/migrations/__init__.py

# Media files
ticket_files/

# Dependencies
pip-lock.txt

data/
.idea/
.vscode
dbdata
