# Django files
*.pyc
**__pycache__/
*.pyo
*.db
*.sqlite3
*.log
.env


**/migrations/**
migrations/
!**/migrations
!**/migrations/__init__.py

# Media files
ticket_files/

# Dependencies
pip-lock.txt

data/
.idea/
.vscode
dbdata


volumes/app/accounts/migrations/__init__.py
volumes/app/orders/migrations/__init__.py
volumes/app/service/migrations/__init__.py
volumes/app/support/migrations/__init__.py
volumes/app/transactions/migrations/__init__.py
