# Django files
*.pyc
__pycache__/
*.pyo
*.db
*.sqlite3
*.log
*.log*
.env
default.conf

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# Media files
volumes/app/media

# Dependencies
pip-lock.txt

# IDE and editor specific files
.idea/
.vscode/

# Database data
dbdata/

# Application logs
volumes/app/logs

# Static files
volumes/app/static

# Ignore data directory
data/

# Docker volumes
volumes/app/accounts/migrations/__init__.py
volumes/app/posts/migrations/__init__.py
volumes/app/orders/migrations/__init__.py
volumes/app/service/migrations/__init__.py
volumes/app/support/migrations/__init__.py
volumes/app/transactions/migrations/__init__.py
volumes/app/utils/total_users_file.json

# Nginx configuration
nginx/default.conf
