{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center mt-5 p-3">
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <p class="fw-bold fs-3">{% trans "Phone Number Verification" %}</p>
        <span class="text-muted">
            {% trans "Enter the code sent to" %} {{phone_number}} {% trans "in the field below" %}
        </span>
        <hr>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            <div class="form-floating mt-2">
                {{ verify_form.code }}
                <label for="{{ verify_form.code.id_for_label }}">{% trans 'OTP Code' %}:</label>
                {{ verify_form.code.errors }}
            </div>
            <div class="row">
                <button type="submit" class="col-10 d-block mx-auto btn btn-warning btn-lg rounded-4 py-3 mt-3">
                    <img src="{% static 'icons/login.svg' %}" alt="">
                    {% trans "Verification and Login" %}
                </button>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <p class="text-end mt-3 rounded-4 py-2" id="counter_box">
                        {% trans 'The validity period of the code sent' %}: 
                        <span id="counter">60</span> 
                        {% trans 'second' %}
                    </p>
                    <a href="{% url 'accounts:send_otpcode_again' %}"
                        class="btn btn-dark mt-3 shadow-sm rounded-4 py-2 d-none" id="send_otpcode_again">
                        <img src="{% static 'icons/refresh-white.svg' %}" alt="">
                        {% trans 'Send Code Agian' %}
                    </a>
                </div>
            </div>
            <input type="hidden" id="phone_number" data-phone="{{phone_number}}">
        </form>
        <hr>
        <div class="mt-2 d-flex justify-content-around">
            <div class="col-sm-6 col-lg-6 col-xl-6">
                <a href="{% url 'accounts:user_register' %}"
                    class="btn btn-light shadow-sm rounded-3 text-black text-decoration-none rounded-4 py-2">
                    {% trans "Not a member? " %} {% trans "Register" %}
                </a>
            </div>
            <div class="col-sm-6 col-lg-6 col-xl-6">
                <a href="{% url 'accounts:user_login_pass' %}" 
                class="btn btn-light shadow-sm rounded-4 py-2 float-end">
                    <img src="{% static 'icons/lock.svg' %}" alt="">
                    {% trans 'Login With Password' %}
                </a>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    let csrf_token = $("[name=csrfmiddlewaretoken]").val();
    var counter = getCounterValueFromStorage() || 60; // get the initial value from localStorage or cookie, or use 60 if not available
    var intervalId;
    let phone_number = document.querySelector("#phone_number");
    var phone = phone_number ? phone_number.getAttribute("data-phone") : null;

    window.onload = function startCounter() {
        intervalId = setInterval(decrementCounter, 1000);
    };

    function decrementCounter() {
        counter--;
        if (document.getElementById("counter")) {
            document.getElementById("counter").innerHTML = counter;
        }
        if (counter === 0) {
            $.ajax({
                url: "/dashboard/check-expire-time/",
                dataType: "json",
                method: "POST",
                data: {
                    phone_number: phone,
                },
                headers: {
                    "X-CSRFToken": csrf_token,
                },
                success: function (response) {
                    console.log(response.msg);
                },
                error: function (error) {
                    console.log(error);
                },
            });
            clearInterval(intervalId);
            document.getElementById("counter_box").className = "d-none";
            document.getElementById("send_otpcode_again").classList.remove("d-none");
            document.getElementById("send_otpcode_again").classList.remove("d-block");
            removeCounterValueFromStorage(); // remove the counter value from localStorage or cookie when it reaches 0
        } else {
            storeCounterValueInStorage(counter); // store the current counter value in localStorage or cookie
        }
    }

    function getCounterValueFromStorage() {
        // retrieve the counter value from localStorage or cookie
        return localStorage.getItem("counter") || getCookie("counter");
    }

    function storeCounterValueInStorage(counter) {
        // store the current counter value in localStorage or cookie
        localStorage.setItem("counter", counter);
        setCookie("counter", counter, 1); // set the cookie to expire in 1 day
    }

    function removeCounterValueFromStorage() {
        // remove the counter value from localStorage or cookie
        localStorage.removeItem("counter");
        deleteCookie("counter");
    }

    function setCookie(name, value, days) {
        // set a cookie with the given name, value, and expiration time
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function getCookie(name) {
        // retrieve a cookie with the given name
        var nameEQ = name + "=";
        var ca = document.cookie.split(";");
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == " ") c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function deleteCookie(name) {
        document.cookie =
            name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }
</script>
{% endblock content %}