{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }}
    {% if payment_type == 'add_fund_wallet' %}
    {% trans 'Successful increase of wallet credit' %} |
    {% elif payment_type == 'pay_order_online' or payment_type == 'pay_remain_price' %}
    {% trans 'Successful order payment' %} |
    {% elif payment_type == 'error' %}
    {% trans 'Unsuccessful payment' %} |
    {% endif %}
{% endblock %}
{% block content %}
    <div class="text-center mx-auto p-3">
        {% if payment_type == 'add_fund_wallet' %}
            <img src="{% static 'image/callback_success.png' %}" class="img-fluid" alt="...">
            <div class="col-lg-3 col-12 mx-auto">
                <div class="alert alert-light" role="alert">
                    <div class="row">
                        <div class="col-8 kalameh-font fs-6 text-start">{% trans 'Your current wallet credit' %}</div>
                        <div class="col-4 kalameh-font text-warning fs-6 text-end">{{ user_balance }} {% trans 'Toman' %}</div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <p class="fs-5 mt-3 fw-bolder">{% trans "Your wallet has been successfully topped up" %}</p>
                <p class="fs-5 mt-3">{% trans "You can now place an order using your wallet" %}</p>
                <a href="{% url 'accounts:user_wallet' %}" class="btn btn-warning btn-lg rounded-3 mb-5">مشاهده کیف پول
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                    </svg>
                </a>
            </div>
        {% elif payment_type == 'pay_order_online' or payment_type == 'pay_remain_price' %}
            <img src="{% static 'image/callback_success.png' %}" class="img-fluid" alt="...">
            <div class="col-lg-3 col-12 mx-auto">
                <div class="alert alert-light" role="alert">
                    <div class="row">
                        <div class="col-8 fs-6 text-start">
                            <a class="copy-text btn text-decoration-none" value="{{ order_id }}">
                            <i class="bi bi-clipboard-plus"></i> {% trans "Order Code" %}
                            </a>
                        </div>
                        <div class="col-4 kalameh-font text-warning fs-6 text-end pt-2">{{ order_id }}</div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <p class="fs-5 mt-3 fw-bolder">پرداخت شما با موفقیت ثبت شد</p>
                <p class="fs-5 mt-3">ممنون از اینکه ایرانی گرام را برای سفارش خود انتخاب کردید</p>
                <a href="{% url 'accounts:user_orders' %}" class="btn btn-warning btn-lg rounded-3 mb-5">
                    پیگیری سفارش
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                    </svg>
                </a>
            </div>
        {% elif payment_type == 'error' %}
            <img src="{% static 'image/callback_error.png' %}" class="img-fluid mt-4" alt="...">
            <div class="text-center col-md-6 col-lg-4 d-block mx-auto">
                <p class="fs-3 mt-5 kalameh-font fw-bolder">پرداخت شما با شکست مواجه شد</p>
                <p class="fs-6 mt-3 text-black-50">پرداخت شما با شکست مواجه شد و خرید شما در سامانه ایرانی گرام ثبت
                    نگردید
                    اگر مبلغی
                    از حساب شما کسر شده است طی 72 ساعت به حساب شما بازگشت خواهد شد و اگر پرداخت برای ایرانی گرام انجام
                    شده باشد مبلغ به حساب کیف پول شما واریز میشود</p>
                <a href="{% url 'accounts:new_order' %}" class="btn btn-warning btn-lg rounded-3 mb-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                    </svg>
                    بازگشت به داشبورد کاربری
                </a>
            </div>
        {% endif %}

    </div>
    {% include "inc/footer.html" %}

{% endblock %}