{% load static %}
<div style="background:#050D16">
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-3 col-12 text-right text-white">
                <img src="{% static 'image/logo.png' %}">
                <p class="fw-bold mt-3" style="font-size: 50px !important">ایرانی گرام</p>
                <p class="fw-bold text-white-50">اولین سامانه کاملا خودکار ارائه خدمات اینستاگرام</p>
            </div>
            <div class="col-lg-3 col-12 text-white">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item fw-bold bg-transparent border-0 text-white">صفحات اصلی</li>
                    <li class="list-group-item bg-transparent border-0 py-3"><a href="#" class="text-decoration-none text-white-50">خرید فالوور اینستاگرام</a></li>
                    <li class="list-group-item bg-transparent border-0 py-3"><a href="#" class="text-decoration-none text-white-50">خرید لایک اینستاگرام</a></li>
                    <li class="list-group-item bg-transparent border-0 py-3"><a href="#" class="text-decoration-none text-white-50">خرید بازدید اینستاگرام</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-12">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item fw-bold bg-transparent border-0 text-white mt-4"></li>
                    <li class="list-group-item bg-transparent border-0 py-3"><a href="#" class="text-decoration-none text-white-50">خرید بازدید استوری</a></li>
                    <li class="list-group-item bg-transparent border-0 py-3"><a href="#" class="text-decoration-none text-white-50">خرید بازدید Reel</a></li>
                    <li class="list-group-item bg-transparent border-0 py-3"><a href="#" class="text-decoration-none text-white-50">خرید بازدید IGTV</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-12">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item fw-bold bg-transparent border-0 text-white">پنل کاربری</li>
                    
                    {% if request.user.is_authenticated %}
                    <li class="list-group-item bg-transparent border-0 py-3"><a href="#" class="text-decoration-none text-white-50">ورود به پنل</a></li>
                    {% else %}
                    <li class="list-group-item bg-transparent border-0 py-3"><a href="#" class="text-decoration-none text-white-50">ورود</a></li>
                    <li class="list-group-item bg-transparent border-0 py-3"><a href="#" class="text-decoration-none text-white-50">ثبت نام</a></li>
                    {% endif %}
                    <li class="list-group-item bg-transparent border-0 py-3"><a href="#" class="text-decoration-none text-white-50">آموزش کار با پنل</a></li>
                </ul>
            </div>
        </div>
        <div class="row rounded-5 p-3" style="background:#1E252D">
            <div class="col-lg-3 col-12">
                <img src="{% static 'icons/24-support-white.svg' %}" alt="" class="me-1" width="46px">
                <span class="fw-bold text-white fs-4">مشاوره رایگان</span><br>
                <small class="text-white fw-bold">ساعت پشتیبانی: همه روزه از ساعت ۹ صبح تا ۱۰ شب (همیشه آنلاین)</small>
            </div>
            <div class="col-lg-3 col-12 mt-3 mt-lg-0">
                <span class="fw-bold text-white fs-4">ایمیل</span><br>
                <small class="text-white fw-bold"><img src="{% static 'icons/Message.svg' %}" alt=""> info@iranigram.com</small>
            </div>
            <div class="col-lg-3 col-12 mt-3 mt-lg-0">
                <span class="fw-bold text-white fs-4">شماره تلفن پیامک</span><br>
                <small class="text-white fw-bold"><img src="{% static 'icons/Chat.svg' %}" alt=""> ۰۹۲۱۴۵۴۱۶۰۲</small>
            </div>
            <div class="col-lg-3 col-12 mt-3 mt-lg-0">
                <span class="fw-bold text-white fs-4">پشتیبانی تلگرام</span><br>
                <small class="text-white fw-bold">
                    <img src="{% static 'icons/Telegram.svg' %}" alt=""> <a href="https://t.me/iranigram_support" class="text-decoration-none text-white">iranigram_support@</a>
                </small>
            </div>
        </div>
    </div>
</div>
<div style="background:#141B24">
    <div class="container text-white text-center p-3">
        <span>تمامی حقوق مادی و معنوی محتوا، طراحی و محصولات این سایت برای <span><a href="{% url 'pages:home' %}" class="text-warning text-decoration-none">ایرانی گرام</a></span> محفوظ است</span>
    </div>
</div>