{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex justify-content-around">
        <div>
            <button class="btn d-lg-none text-black fs-3 px-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasTop"
                    aria-controls="offcanvasTop">
                    <img src="{% static 'icons/Menu.svg' %}" alt="">
                </button>
            <a href="/">
                <img src="{% static 'image/logo.png' %}" alt="" width="80">
            </a>
            <div class="offcanvas offcanvas-top h-75 d-lg-none" tabindex="-1" id="offcanvasTop"
                 aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav d-lg-none">
                        <li class="nav-item">
                            <a class="nav-link fw-bolder" aria-current="page" href="/">
                                <img src="{% static 'icons/Home.svg' %}" alt="">
                                {% trans "Home" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bolder" href="#">
                                <img src="{% static 'icons/teacher.svg' %}" alt="">
                                {% trans 'Mag' %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bolder" href="{% url 'pages:follower' %}">
                                <img src="{% static 'icons/people.svg' %}" alt=""> {% trans 'Buy Instagram Follower' %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bolder" href="{% url 'pages:like' %}">
                                <img src="{% static 'icons/Heart.svg' %}" alt=""> {% trans 'Buy Instagram Like' %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bolder" href="{% url 'pages:view' %}">
                                <img src="{% static 'icons/View.svg' %}" alt=""> {% trans 'Buy Instagram View' %}
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="d-lg-none">
                        <span class="kalameh-font fs-4">مشاوره رایگان</span><br>
                        <small class="fw-bold">ساعت پشتیبانی: همه روزه از ساعت ۹ صبح تا ۱۰ شب</small>
                        <div class="d-block">
                            <a href="https://t.me/iranigram_support" class="btn btn-warning btn-lg mt-2">
                                <img src="{% static 'icons/Send.svg' %}" alt=""> پشتیبانی تلگرام</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mt-md-2 mb-2 mb-lg-0 rounded-4">
                <li class="nav-item">
                    <a class="nav-link px-3 pb-3 custom-black" aria-current="page" href="/">
                        <img src="{% static 'icons/Home.svg' %}" alt="">
                        {% trans "Home" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 pb-3 custom-black" href="#">
                        <img src="{% static 'icons/teacher.svg' %}" alt="">
                        {% trans 'Mag' %}
                    </a>
                </li>
                <li class="nav-item dropdown rounded-4">
                    <a class="nav-link px-3 pb-3 dropdown-toggle custom-black" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                       <img src="{% static 'icons/instagram.svg' %}" alt="">
                       {% trans 'Instagram Products' %}
                    </a>
                    <ul class="dropdown-menu rounded-4">
                        <li>
                            <a class="dropdown-item btn btn-warning py-2" href="{% url 'pages:follower' %}">
                                <img src="{% static 'icons/people.svg' %}" alt=""> {% trans 'Buy Instagram Follower' %}
                            </a>
                        </li>
                        <hr class="dropdown-divider">
                        <li>
                            <a class="dropdown-item btn btn-warning py-2" href="{% url 'pages:like' %}">
                                <img src="{% static 'icons/Heart.svg' %}" alt=""> {% trans 'Buy Instagram Like' %}
                            </a>
                        </li>
                        <hr class="dropdown-divider">
                        <li>
                            <a class="dropdown-item btn btn-warning py-2" href="{% url 'pages:view' %}">
                                <img src="{% static 'icons/View.svg' %}" alt=""> {% trans 'Buy Instagram View' %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        {% if request.user.is_authenticated %}
            <div>
                <a href="{% url 'accounts:user_wallet' %}" class="btn btn-warning rounded-4 py-3">
                    <img src="{% static 'icons/wallet.svg' %}" alt="">
                    {{ request.user.balance }} {% trans "Toman" %}
                </a>
                <div class="btn-group mx-lg-2">
                    <button type="button" class="btn dropdown-toggle rounded-4 py-3 border-1 border border-secondary"
                            data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                            <img src="{% static 'icons/Profile.svg' %}" alt="">
                        <span class="d-none d-md-inline">{{ request.user.full_name }}</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end rounded-4">
                        <li>
                            <a href="{% url 'accounts:new_order' %}" class="btn dropdown-item py-2">
                                <img src="{% static 'icons/shop-add.svg' %}" alt="">
                                {% trans 'New Order' %}
                            </a>
                        <li>
                            <hr class="dropdown-divider">
                        <li>
                            <a href="{% url 'accounts:user_dashboard' %}" class="btn dropdown-item py-2">
                                <img src="{% static 'icons/Canvas-Menu.svg' %}" alt="">
                                {% trans 'User Dashboard' %}
                            </a>
                        <li>
                            <hr class="dropdown-divider">
                        <li>
                            <a href="{% url 'accounts:user_orders' %}" class="btn dropdown-item py-2">
                                <img src="{% static 'icons/shopping-cart.svg' %}" alt="">
                                {% trans 'Orders' %}
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="{% url 'accounts:user_logout' %}" class="btn dropdown-item text-danger py-2">
                                <img src="{% static 'icons/logout.svg' %}" alt="">
                                {% trans 'Logout' %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle rounded-4 py-3 border-1 border border-secondary"
                        data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        <img src="{% static 'icons/Profile.svg' %}" alt="">
                    {% trans 'Account' %}
                </button>
                <ul class="dropdown-menu dropdown-menu-end rounded-4">
                    <li><a href="{% url 'accounts:user_login_otp' %}" class="dropdown-item btn py-2">
                        <img src="{% static 'icons/login.svg' %}" alt="">
                        {% trans 'Login' %}</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a href="{% url 'accounts:user_register' %}" class="dropdown-item btn py-2">
                            <img src="{% static 'icons/user-add.svg' %}" alt="">
                            {% trans 'Register' %}
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>