{% extends "accounts/dashboard_base.html" %}
{% load i18n %}
{% load static %}
{% load jalali_tags %}
{% load humanize %}
{% block title %}{% trans 'Services' %}{% endblock %}
{% block panelcontent %}
<p class="fw-semibold fs-3">{% trans "Services" %}</p>
{% if Services %}
<div class="table-responsive">
    <table class="table caption-top table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">{% trans "Title" %}</th>
                <th scope="col" class="text-center">{% trans "Service Code" %}</th>
                <th scope="col" class="text-center">{% trans "Price For 1000 Site" %}</th>
                <th scope="col" class="text-center">{% trans "Min Order" %}</th>
                <th scope="col" class="text-center">{% trans "Max Order" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for service in Services %}
            <tr>
                <th class="text-center align-middle">{{ page_obj.start_index|add:forloop.counter0 }}</th>
                <td class="text-center align-middle">{{ service.title }}</td>
                <td class="text-center align-middle">{{ service.service_code }}</td>
                <td class="text-center align-middle">{{ service.price_1000_site|intcomma }} {% trans "Toman" %}</td>
                <td class="text-center align-middle">{{ service.min_order }} {% trans "Number" %}</td>
                <td class="text-center align-middle">{{ service.max_order }} {% trans "Number" %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<div class="alert alert-light" role="alert">
    {% trans "No orders have been submitted yet" %}
</div>
{% endif %}
{% endblock %}