{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{title_tag}}{% endblock %}
{% block meta %}
<meta name="description"
    content="خرید فالوور واقعی اینستاگرام با ارسال فوری از ایرانی گرام فالوور ارزان فعال ایرانی بخرید شامل خرید فالوور بدون ریزش اینستاگرام ارزان قیمت همراه فالوور رایگان">
<link href="https://iranigram.com/iranian-instagram-followers/" rel="canonical">
<meta name="keywords" content="خرید فالوور اینستاگرام">
<meta content="https://iranigram.com/" property="og:url">
<meta content="Iranigram" property="og:site_name">
<meta content="954496781748371" property="fb:app_id">
<meta name="robots" content="all">
<meta content="fa_IR" property="og:locale">
<meta content="website" property="og:type">
<meta content="خرید لایک اینستاگرام ارزان | فالوور اینستاگرام | ایرانی گرام" property="og:title">
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "آیا خرید فالوور برای پیج مخرب است؟",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "خیر! خرید فالوور برای پیج اینستاگرام هم در الگوریتم های اینستاگرام و هم از لحاظ میزان ریچ تأثیر منفی در پیج شما نخواهد داشت و هرگز سبب بروز مشکل در پیج شما نخواهد شد."
        }
      },{
        "@type": "Question",
        "name": "چگونه فالوور پیج خود را افزایش دهیم؟",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "جدا از روش های ارگانیک جذب فالوور و مخاطب در اینستاگرام شما به سادگی در ایرانی گرام قادر به سفارش هزاران فالوور بسیار باکیفیت برای مطالب خود می باشید."
        }
      },{
        "@type": "Question",
        "name": "چطور خرید فالوور اینستاگرام مفید واقع می شود؟",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "اگر تمایل دارید علاوه بر افزایش عددی فالوور خود، همراه آن پیج شما بازدید پیج خود را نیز بصورت چشمگیری افزایش دهید، فقط کافی است از سرویس های فالوور با کیفیت بدون ریزش خریداری کنید تا به دیده شدن بیشتر پیجتان کمک کنید."
        }
      },{
        "@type": "Question",
        "name": "چطور بهترین ارائه دهنده سرویس های اینستاگرام را انتخاب کنیم؟",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "بسیار ساده! ایرانی گرام را باز کنید، رَوان بودن سایت، کیفیت سایت و پنل کاملاً اختصاصی، سرعت انجام کار، کیفیت بالای محصولات و قدمت سایت را با رقبا مقایسه کنید. مطمئناً پاسخ درست را دریافت خواهید کرد."
        }
      }]
    }
    </script>
{% endblock meta %}
{% block content %}
<div class="container">
    <div class="row mb-5 mt-4">
        <div class="col-lg-4 col-12 text-center mt-5">
            <img src="{% static 'image/followers.webp' %}" class="img-fluid text-center" alt="خرید فالوور اینستاگرام"
                width="300px" height="386px">
        </div>
        <div class="col-lg-8 col-12 mt-4">
            <h1 class="fw-bold px-2 px-lg-0 py-4"
                style="font-size:60px !important; background:url('../static/image/Group 33594.svg') no-repeat right; background-size: 90px">
                خرید فالوور اینستاگرام
                <img src="{% static 'image/image 272.png' %}" class="img-fluid float-end"
                    alt="افزایش فالوور اینستاگرام ایرانی تضمینی بدون ریزش" width="176px" height="163px">
            </h1>
            <h2 class="lh-lg mt-2 text-warning px-2 px-lg-0">افزایش فالوور فیک و واقعی ارزان اینستاگرام با کمترین ریزش و
                بهترین قیمت</h2>
            <p class="lh-lg fs-5 mt-4 px-2 px-lg-0">به مرکز فروش خرید فالوور ایرانی اینستاگرام با ارزان ترین قیمت ها خوش
                آمدید! می‌خواید با هزینه کمتر و به سرعت، یه تعداد زیادی از فالوور های ایرانی رو به پروفایل اینستاگرامتون
                اضافه کنید؟ خب الان این امکان واقعی شده! با ما <a href="{% url 'pages:home' %}"
                    class="text-warning text-decoration-none">فالوور ایرانی اینستاگرام</a> رو بخرید و واقعاً به اون
                جمعیت
                بزرگ و واقعی از کاربران ایرانی متصل بشید و برند یا صفحه خودتون رو توی این جامعه پرانرژی و علاقه‌مندان
                ایرانی معرفی کنید. خدمات ما با کیفیت میتونه به شما کمک می‌کنه تعداد فالوورهای ایرانی اینستاگرامتون رو
                بالا ببرید. دیگه صبر نکنید و با خرید فالوور ایرانی اینستاگرام با قیمت مناسب، موفقیت پیج خودتون رو تضمین
                کنید.
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-6 col-12">
            <img src="{% static 'image/flw_icon.webp' %}" class="mb-3" alt="ایرانی گرام ضامن کیفیت سرویس هاست"
                width="126px" height="107px"><br>
            <span class="text-warning px-2 px-lg-0 fw-semibold">ایرانی گرام، ضامن کیفیت سرویس ها میباشد</span><br>
            <h1 class="my-4 fw-bold px-2 px-lg-0">خرید فالوور با کیفیت اینستاگرام</h1>
            <div class='row'>
                <div class="col-md-6 col-12">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/card-receive.svg' %}" alt="ضمانت بازگشت وجه">
                            ضمانت بازگشت وجه
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/people.svg' %}" alt="بدون نیاز به فالوور کردن دیگران">
                            بدون نیاز به فالوور کردن دیگران
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">

                            <img src="{% static 'icons/unlock.svg' %}" alt="بدون نیاز به پسورد پیج">
                            بدون نیاز به پسورد پیج
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-12">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/timer-start.svg' %}" alt="شروع آنی پس از ثبت سفارش">
                            شروع آنی پس از ثبت سفارش
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/trend-down.svg' %}" alt="دارای ریزش طبیعی">
                            دارای ریزش طبیعی
                        </li>
                    </ul>
                </div>
            </div>
            <p class="d-flex lh-md fs-5 mt-2 text-muted px-2 px-lg-0">در پنل اختصاصی سایت ایرانی گرام، شما می‌توانید
                فالوورهای اینستاگرام با انواع کیفیت و ویژگی‌ها را دریافت کنید. با ورود به حساب کاربری خود، این امکان به
                شما داده می‌شود. پس از خرید، فالوورها به صورت خودکار به پیج شما اضافه می‌شوند. شما فقط کافی است صفحه خود
                را در حالت عمومی قرار داده و از نزدیک نظاره‌گر افزایش فالوور و پیشرفت صفحه اینستاگرام خود باشید. حالا
                بر روی دکمه زیر کلیک کنید و این تجربه را شروع کنید!
            </p>
            <a href="{% url 'accounts:new_order' %}" class="btn btn-dark btn-lg mt-2 rounded-4">
                شروع خرید!
                <img src="{% static 'icons/Arrow-Left-White.svg' %}" alt="ارسال کاربر به صفحه خرید فالوور اینستاگرام"
                    width="24px" height="24px">
            </a>
        </div>
        <div class="col-lg-6 col-12 text-center mt-5">
            <img src="{% static 'image/Design@2x 1.png' %}" class="img-fluid" width="450px"><br>
        </div>
    </div>
    <p class="fs-3 mt-4 px-2 px-lg-0 fw-semibold">
        چرا شما نیاز به خرید فالوور اینستاگرام دارید ؟
    </p>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card border border-0 shadow-sm">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="fw-semibold">۱- رشد سریع پیج</p>
                        <footer class="blockquote-footer">با خرید فالوور، شما می‌توانید به سرعت تعداد فالوورهای خود را
                            افزایش دهید و در زمان کمتر به جمعیت بزرگی از کاربران دسترسی پیدا کنید.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-0 shadow-sm">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="fw-semibold">۲- اعتمادسازی</p>
                        <footer class="blockquote-footer">تعداد فالوور بیشتر، به صفحه شما اعتماد بیشتری می‌دهد و برند یا
                            صفحه شما را جذاب‌تر و معتبرتر نشان می‌دهد.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-0 shadow-sm">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="fw-semibold">۳- ترویج و رقابت</p>
                        <footer class="blockquote-footer">با افزایش فالوورهای پیج، صفحه شما برای ترویج و فروش محصولات و
                            خدمات بهتر قابل استفاده است و در رقابت با رقبای خود پیشتاز خواهید بود.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-0 shadow-sm">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="fw-semibold">۴- جذب هدفمند</p>
                        <footer class="blockquote-footer">با خرید فالوور، می‌توانید فالوورهایی را با مشخصه‌ها و علایق
                            هدف خود جذب کنید و تعاملات بیشتری را با آنها برقرار کنید.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-0 shadow-sm">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="fw-semibold">۵- افزایش تعامل</p>
                        <footer class="blockquote-footer">با تعداد بیشتر فالوورها، تعاملات شما در پست‌ها، نظرات و
                            پیام‌ها افزایش می‌یابد و صفحه شما پویاتر و پرانرژی‌تر می‌شود.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-0 shadow-sm">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="fw-semibold">۶- جذب همکاری‌</p>
                        <footer class="blockquote-footer">با صفحه‌ای پر فالوور، شما برای همکاران و همکاری‌های جدید
                            جذابیت بیشتری خواهید داشت و ارتباطات تجاری خود را تقویت می‌کنید.</footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-0 shadow-sm">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="fw-semibold">۷- افزایش شهرت و تأثیرگذاری</p>
                        <footer class="blockquote-footer">با تعداد بیشتر فالوورها، شما به عنوان یک شخصیت تأثیرگذار در
                            صنعت یا حوزه خود شناخته‌تر می‌شوید و شهرتتان افزایش می‌یابد.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-0 shadow-sm">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="fw-semibold">۸- ارتقای قدرت برند</p>
                        <footer class="blockquote-footer">با افزایش فالوورهای ایرانی، برند شما بیشتر به چشم می‌آید و
                            تأثیر
                            قوی‌تری در ذهن مخاطبانتان خواهد داشت.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-0 shadow-sm">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="fw-semibold">۹- جذب تبلیغات بیشتر</p>
                        <footer class="blockquote-footer">با تعداد بیشتر فالوورها، تبلیغات شما برای برندهای دیگر جذاب‌تر
                            خواهد بود و ارزش افزوده بیشتری خواهید داشت.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-0 shadow-sm">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="fw-semibold">۱۰- سرمایه‌گذاری برای آینده</p>
                        <footer class="blockquote-footer">خرید فالوور ، به شما امکان می‌دهد سرمایه‌گذاری در رشد و توسعه
                            آینده صفحه و برند خود را داشته باشید.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row my-5">
        <div class="col-lg-6 col-12 text-center">
            <img src="{% static 'image/socialnetwork_follower.png' %}" class="img-fluid"><br>
        </div>
        <div class="col-lg-6 col-12">
            <h2 class="my-4 text-warning px-2 px-lg-0 fw-bold">
                بزرگترین سود خرید فالوور اینستاگرام
            </h2>
            <p class="px-2 px-lg-0 fs-5">اگه می‌خوای تو اینستاگرام فعالیت کنی، باید سعی کنی تعداد فالوورهایت رو زیاد
                کنی. چرا؟ چون با افزایش تعداد فالوورهات، بیشتر به پست‌هات دسترسی پیدا می‌کنن و احتمال تعامل بیشتر با
                کاربران رو داری. همین باعث می‌شه که بیشتر ببینن و بازخورد بیشتری بهت بدن. این کار می‌تونه به تبدیل شدن
                به یه نماینده تجاری قوی‌تر برای کسب و کارت کمک کنه و در نهایت، به افزایش فروش و درآمدت منجر بشه. در کل،
                خرید فالوور اینستاگرام می‌تونه برایت مفید باشه.</p>
            <a href="{% url 'accounts:new_order' %}" class="btn btn-dark rounded-4 py-4">
                خرید فالوور از طریق پنل اختصاصی
                <img src="{% static 'icons/Arrow-Left-White.svg' %}" alt="">
            </a>
        </div>
    </div> -->
    <div class="row my-5">
        <p class="align-middle fs-1 fw-bold mt-4">
            <i class="bi bi-info-square text-warning"></i> سوالات پر تکرار
        </p>
        <p class="d-flex lh-lg fs-5 text-warning">اگر بین سوالات زیر، پاسخ خود را پیدا نکردید خوشحال می شویم که با هم
            صحبت کنیم</p>
        <div class="accordion" id="accordionFlushExample">
            <div class="accordion-item my-1 py-1 rounded-3 border">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#QA01" aria-expanded="false" aria-controls="QA01">
                        <span class="text-warning fs-3 px-2 align-middle fw-bold"
                            style="border-left: 1px solid #DFE2E6;line-height:20px">01</span>
                        <span class="px-2 fw-bold">آیا با خرید فالوور و لایک، پیج اینستاگرام مورد نظر به مشکل میخورد
                            ؟</span>
                    </button>
                </h2>
                <div id="QA01" class="accordion-collapse collapse" aria-labelledby="QA01"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body lh-lg">خیر، به دلیل اینکه ایرانی گرام صرفا از شما آی دی پیج اینستاگرام یا
                        لینک پست را درخواست میکند و هیچ اطلاعات دیگه ای از شما ندارد و در یک محیط کاملا امن برای شما
                        خدمات ارائه میکند به هیچ عنوان از طرف ایرانی گرام پیج اینستاگرام شما به هیچ مشکلی برنخواهد خورد.
                    </div>
                </div>
            </div>
            <div class="accordion-item my-1 py-1 rounded-3 border">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#QA02" aria-expanded="false" aria-controls="QA02">
                        <span class="text-warning fs-3 px-2 align-middle fw-bold"
                            style="border-left: 1px solid #DFE2E6;line-height:20px">02</span>
                        <span class="px-2 fw-bold">آیا الگوریتم های اینستاگرام متوجه دریافت این محصولات توسط پیج می
                            شود؟</span>
                    </button>
                </h2>
                <div id="QA02" class="accordion-collapse collapse" aria-labelledby="QA02"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body lh-lg">اینستاگرام قطعا متوجه رشد پیج خواهد شد ولی این رشد برای اینستاگرام
                        یک رشد کاملا طبیعی است و مورد مشکوکی از طرف اینستاگرام وجود ندارد به دلیل تجربه زیاد گروه ایرانی
                        گرام در کار با الگوریتم های اینستاگرام از ابتدا تاکنون و آشنایی کامل ما هیچ جای نگرانی برای شما
                        وجود ندارد.</div>
                </div>
            </div>
            <div class="accordion-item my-1 py-1 rounded-3 border">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#QA03" aria-expanded="false" aria-controls="QA03">
                        <span class="text-warning fs-3 px-2 align-middle fw-bold"
                            style="border-left: 1px solid #DFE2E6;line-height:20px">03</span>
                        <span class="px-2 fw-bold">آیا برای پیج های خصوصی ( Private )‌ خدمات ارائه می شود؟</span>
                    </button>
                </h2>
                <div id="QA03" class="accordion-collapse collapse" aria-labelledby="QA03"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body lh-lg">متاسفانه به دلایل امنیتی که بسیار برای ایرانی گرام مهم است، امکان
                        این کار وجود ندارد.</div>
                </div>
            </div>
            <div class="accordion-item my-1 py-1 rounded-3 border">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#QA04" aria-expanded="false" aria-controls="QA04">
                        <span class="text-warning fs-3 px-2 align-middle fw-bold"
                            style="border-left: 1px solid #DFE2E6;line-height:20px">04</span>
                        <span class="px-2 fw-bold">آیا برای خرید فالوور نیازی به ارائه‌ی پسورد پیج است؟</span>
                    </button>
                </h2>
                <div id="QA04" class="accordion-collapse collapse" aria-labelledby="QA04"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body lh-lg">خیر. برای این که فالوور خریداری کنید نیاز است تا آیدی پیج خود را
                        در حین فرایند ثبت سفارش وارد کنید.</div>
                </div>
            </div>
            <div class="accordion-item my-1 py-1 rounded-3 border">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#QA05" aria-expanded="false" aria-controls="QA05">
                        <span class="text-warning fs-3 px-2 align-middle fw-bold"
                            style="border-left: 1px solid #DFE2E6;line-height:20px">05</span>
                        <span class="px-2 fw-bold">آیا بعد از خرید من باید کاری اضافه ای انجام دهم؟</span>
                    </button>
                </h2>
                <div id="QA05" class="accordion-collapse collapse" aria-labelledby="QA05"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body lh-lg">خیر، بعد از خرید سفارش شما در صف خرید وارد می شود و به صورت کاملا
                        خودکار به پیج شما اضافه خواهد شد</div>
                </div>
            </div>

        </div>
    </div>
    <div class="row my-5">
        <h2 class="fw-bold px-2 px-lg-0">
            تعریف فالوور اینستاگرام به زبان ساده
        </h2>
        <p class="lh-lg fs-6">
            فالوورهای اینستاگرام افرادی هستند که حساب کاربری شما را دنبال می‌کنند و مطالب شما را مشاهده می‌کنند. این
            شامل نمایش علاقه‌مندی‌ها، عکس‌ها، ویدئوها و سایر محتواهایی است که در پروفایل شما قرار دارد. فالوورها به شما
            کمک می‌کنند تا در اینستاگرام بیشتر دیده شوید و بیشترین تاثیر را در جامعه آنلاین داشته باشید. هرچه تعداد
            فالوورهای شما بیشتر باشد، احتمال دیده شدن و واکنش‌های بیشتری به محتوای شما افزایش می‌یابد.
        </p>
        <h2 class="fw-bold px-2 px-lg-0">
            حالا باید یاد بگیریم برای افزایش فالوور اینستاگرام چه راه هایی وجود داره :
        </h2>
        <p class="lh-lg fs-6">
            <p class="fs-6 fw-semibold">1. ارسال محتوای عالی و جذاب.</p>
            <p class="fs-6 fw-semibold">2. استفاده از هشتگ‌های مرتبط بر اساس ترند های روز.</p>
            <p class="fs-6 fw-semibold">3. ارتباط و تعامل با دیگران.</p>
            <p class="fs-6 fw-semibold">4. انجام همکاری با سایر اکانت‌های مرتبط.</p>
            <p class="fs-6 fw-semibold">5. استفاده از روش‌های تبلیغاتی.</p>
            <p class="fs-6 fw-semibold">6. و خیلی از راه های دیگه که میتونی اینجا بخونی </p>‌
        </p>
        <h2 class="fw-bold px-2 px-lg-0">
            فالوور اینستاگرام ارزان بخریم یا نخریم؟
        </h2>
        <p class="lh-lg fs-6">
            البته هیچ اجباری برای خرید فالوور ارزان قیمت اینستاگرام وجود ندارد، اما در هر صورت به شما توضیح می‌دهیم که
            چرا باید این کار را انجام دهید. در واقع، مجموعه‌های مختلفی برای خرید فالوور اینستاگرام وجود دارند و فالوور
            ارزان یکی از این مجموعه‌هاست.

            اگر شما یک پیج تازه کار یا یک کسب و کار جدید هستید که هنوز درآمد قابل توجهی نداشته‌اید و نیاز دارید تا تعداد
            دنبال‌کننده‌های پیج خود را افزایش دهید، فالوور ارزان بهترین گزینه برای شماست. این نوع فالوورها به دلیل هزینه
            پایینی که دارند، جذب افراد با بودجه محدود هستند. اما باید توجه داشت که خرید فالوور اینستاگرام ارزان قیمت
            بدون ریزش، تنها یک دروغ بزرگ است. در صورتی که فالوور واقعی اینستاگرام نیز خریداری کنید، احتمالاً بسیاری از
            فالوور هایتان پیج شما را پسند نخواهند کرد و شما با ریزش فالوورها روبرو خواهید شد.

            این پکیج شامل ترکیبی از فالوورهای واقعی ایرانی و فالوورهای مجازی است. این امر باعث می‌شود تا شما تحت تاثیر
            انتقامگیرانه اینستاگرام قرار نگیرید، زیرا این شبکه اجتماعی یک سیستم قوی برای تشخیص فالورهای مجازی دارد.
        </p>
    </div>
    <div class="row my-5">
        <div class="col-lg-6 col-12">
            <img src="{% static 'image/support.webp' %}" class="img-fluid" width="500px" alt="پشتیبانی ایرانی گرام"><br>
        </div>
        <div class="col-lg-6 col-12">
            <p class="mt-5 fs-1 fw-bold">سوالی دارید؟</p>
            <p class="text-warning fs-3 fw-semibold">پشتیبانی ما در خدمت شما هستند</p>
            <p>پشتیبانی ایرانی گرام همیشه با شما و در همه حال همراه شماست، سوالی دارید؟</p>
            <a href="{% url 'accounts:submit_ticket' %}" class="btn btn-warning rounded-4 py-4">
                ارتباط با پشتیبانی
                <img src="{% static 'icons/Arrow-Left-Black.svg' %}" alt="فلش سمت چپ">
            </a>
        </div>
    </div>
</div>
{% include "inc/footer.html" %}
{% endblock %}