{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block title %}{{ block.super }} {% trans 'Home' %} | {% endblock %}
{% block meta %}
<meta content="خرید فالوور اینستاگرام ارزان | خرید لایک اینستاگرام" property="og:title">
<meta name="description" content="ایرانی گرام، بهترین فروشگاه خدمات اینستاگرام برای خرید فالوور اینستاگرام و خرید لایک اینستاگرام با قیمتی بسیار مناسب، با خدمات ما به سرعت دنبال کننده های واقعی و فعال برای صفحه اینستاگرام خود جمع آوری کنید و تعامل بیشتری با مخاطبان خود داشته باشید">
<meta content="{{site_url}}" property="og:url">
<meta content="Iranigram" property="og:site_name">
{% endblock meta %}
{% block content %}
<div class="container">
    <div class="row mb-5 mt-4">
        <div class="col-lg-4 col-12 text-center">
            <img src="{% static 'image/top_banner.png' %}" class="img-fluid mt-4" alt="" width="500px">
        </div>
        <div class="col-lg-8 col-12 mt-4">
            <span class="fs-1 fw-bold kalameh-font px-2 px-lg-0" style="font-size:50px !important">
                <span class="text-warning">ایرانی گرام</span> همراه شما در سال جدید
            </span>
            <p class="d-flex lh-lg fs-5 mt-4 px-2 px-lg-0">در این سال جدید، ما با افتخار خدمات خرید فالوور اینستاگرام و
                خرید لایک
                اینستاگرام را مانند گذشته به شما عزیزان ارائه می‌دهیم. با این خدمات می‌توانید به سرعت تعداد فالوور و
                لایک پست‌های خود را افزایش دهید و به راحتی به موفقیت در فضای مجازی دست یابید.<br><br>
                ایرانی گرام یکی از معتبرترین سرویس دهنده های ارائه فالوور اینستاگرام، لایک اینستاگرام، بازدید پست و
                بازدید استوری میباشد که در طول سالیان توانسته است نظرات مشتریان خود را جلب کند و به صورت کاملا واقعی
                ارائه دهنده این سرویس باشد.</p>
            <div class="row mt-4">
                <div>
                    <a href="{% url 'accounts:new_order' %}"
                        class="btn btn-warning rounded-4 col-lg-3 col-12 mt-lg-0 py-4">ورود به پنل کاربری
                        <img src="{% static 'icons/Arrow-Left-Black.svg' %}" alt="">
                    </a>
                    <a href="{% url 'pages:follower' %}"
                        class="btn btn-dark rounded-4 col-lg-3 col-12 mt-2 mt-lg-0 py-4">
                        خرید فالوور اینستاگرام
                        <img src="{% static 'icons/Arrow-Left-White.svg' %}" alt="">
                    </a>
                    <a href="{% url 'pages:like' %}"
                        class="btn btn-dark rounded-4 col-lg-3 col-12 mt-2 mt-lg-0 py-4">
                        خرید لایک اینستاگرام
                        <img src="{% static 'icons/Arrow-Left-White.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5 rounded-4 bg-black text-white p-4 mx-1 mx-lg-0">
        <div class="col-lg-3 col-12 kalameh-font">
            <p class="fs-1 fw-normal">ویژگی های</p>
            <p style="font-size:50px !important">ایرانی گرام</p>
        </div>
        <div class="col-lg-2 col-12 mt-2 mt-lg-0">
            <p><img src="{% static 'icons/medal-star.svg' %}" alt=""></p>

            <span class="kalameh-font fs-5">بالاترین کیفیت خدمات</span><br>
            <small class="mt-3">بالاترین و با کیفیت ترین خدمات را از ایرانی گرام بخواهید</small>
        </div>
        <div class="col-lg-2 col-12 mt-2 mt-lg-0">
            <p><img src="{% static 'icons/star.svg' %}" alt=""></p>
            <span class="kalameh-font fs-5">سرعت بالا</span><br>
            <small class="mt-3">در سرعت و دقت ایرانی گرام همیشه در اولویت شما خواهد بود</small>
        </div>
        <div class="col-lg-2 col-12 mt-2 mt-lg-0">
            <p><img src="{% static 'icons/receipt-search.svg' %}" alt=""></p>
            <span class="kalameh-font fs-5">مناسبت ترین تعرفه ها</span><br>
            <small class="mt-3">تعرفه های مناسب در کنار کیفیت فقط در ایرانی گرام معنی پیدا میکند</small>
        </div>
        <div class="col-lg-2 col-12 mt-2 mt-lg-0">
            <p><img src="{% static 'icons/like-tag.svg' %}" alt=""></p>
            <span class="kalameh-font fs-5">پشتیبانی</span><br>
            <small class="mt-3">پشتیبانی ایرانی گرام همیشه در کنار شما خواهد بود و حامی شماست</small>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6 col-12 mt-4">
            <span class="kalameh-font px-2 px-lg-0" style="font-size:60px !important">شروع کار ایرانی گرام چگونه
                است</span>
            <p class="d-flex lh-md fs-5 mt-4 text-muted px-2 px-lg-0">کار با سیستم ایرانی گرام بسیار ساده است، برای شروع
                می
                توانید از بالای سایت گزینه حساب کاربری را انتخاب کنید و با ورود به پنل اختصاصی ، یکی از خدمات از
                قبیل خرید فالوور اینستاگرام یا بازدید ویدیو و استوری و حتی لایک اینستاگرام را انتخاب نمایید و تعداد
                مدنظرتان را دریافت نمایید
                همچنین در این پنل اختصاصی امکانات بسیار کاربردی از قبیل خرید تمامی سرویس های ایرانی گرام با قابلیت
                شارژ و داشتن موجودی و خریدهای گروهی و امکانات دیگری مانند مشاهده تمامی لیست سفارشاتتان و تراکنش هایی
                که انجام داده اید قرار داده شده که میتوانید استفاده کنید.</p>
            <a href="{% url 'accounts:user_register' %}" class="btn btn-warning btn-lg rounded-4 py-3">ثبت نام در سایت
                <img src="{% static 'icons/Arrow-Left-Black.svg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-6 col-12 text-center">
            <img src="{% static 'image/instagram-banner.png' %}" class="img-fluid" alt="" width="500px">
        </div>
    </div>
    <!-- Start Follower Section -->
    <div class="row mt-5">
        <div class="col-lg-6 col-12">
            <img src="{% static 'image/flw_icon.png' %}" class="mb-3 img-fluid mt-4 mt-lg-0"><br>
            <span class="text-warning">ایرانی گرام، ضامن کیفیت سرویس ها میباشد</span><br>
            <p class="kalameh-font mt-2" style="font-size:40px !important">خرید فالوور با کیفیت اینستاگرام</p>
            <div class='row'>
                <div class="col-md-6 col-12">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/card-receive.svg' %}" alt="">
                            ضمانت بازگشت وجه
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/people.svg' %}" alt="">
                            بدون نیاز به فالوور کردن دیگران
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">

                            <img src="{% static 'icons/unlock.svg' %}" alt="">
                            بدون نیاز به پسورد پیج
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-12">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/timer-start.svg' %}" alt="">
                            شروع آنی پس از ثبت سفارش
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/trend-down.svg' %}" alt="">
                            دارای ریزش طبیعی
                        </li>
                    </ul>
                </div>
            </div>
            <p class="d-flex lh-lg fs-5 mt-2 text-muted px-2 px-lg-0">شما می توانید فالوور اینستاگرام را در انواع کیفیت
                و ویژگی
                ها در پنل اختصاصی سایت ایرانی گرام با ورود به حساب کاربری خود دریافت کنید . پس از خریدتان فالوورها
                به صورت خودکار به پیج شما اضافه می شوند و از طرف شما فقط نیاز هست که صفحه خود را در حالت عمومی قرار
                دهید و نظارگر افزایش فالوور و پیشرفت صفحه اینستاگرام خود باشید
            </p>
        </div>
        <div class="col-lg-6 col-12 mt-5">
            <div class="card p-2 rounded-4">
                <div class="card-body">
                    <h5 class="card-title kalameh-font fs-3">خرید فالوور اینستاگرام</h5>
                    <div class="nav-tabs-section mt-3" id="flw-section">
                        <ul class="nav nav-pills mb-3 pills-tab" id="flw-pills-tab" role="tablist">
                            {% for service in follower_services %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-4" id="tab{{service.id}}" data-bs-toggle="pill"
                                    data-bs-target="#service{{service.id}}" type="button" role="tab"
                                    aria-controls="pills-home" aria-selected="true">{{service.title}}</button>
                            </li>
                            {% endfor %}
                        </ul>
                        <h6 class="my-3">
                            <img src="{% static 'icons/note.svg' %}" alt="">
                            <span class="fw-bold" style="color: #5D6B81">بسته های جذاب</span>
                        </h6>
                        {% for service in follower_services %}
                        <div class="tab-content pills-tabContent" id="flw-pills-tabContent">
                            <div class="rounded-4 tab-pane show" id="service{{service.id}}" role="tabpanel"
                                aria-labelledby="tab{{service.id}}" tabindex="0">
                                <div class="row row-cols-1 row-cols-md-2 g-2">
                                    {% for key, value in service.template_packages.items %}
                                    <div class="col">
                                        <div class="card rounded-4 px-1">
                                            <div class="row p-2">
                                                <div class="col d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <span>{{value.quantity}} عدد فالوور</span><br>
                                                        <small class="fw-semibold">
                                                            {{value.total_price|intcomma}} {% trans 'Toman' %}
                                                        </small>
                                                    </div>
                                                    <a href="{% url 'orders:new_order' service.id value.quantity %}"
                                                        class="btn btn-warning rounded-4" target="_blank">
                                                        <img src="{% static 'icons/shop-add.svg' %}" alt="">
                                                        خرید
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Follower Section -->
    <!-- Start Like Section -->
    <div class="row mt-4 d-flex justify-content-center p-0 m-0">
        <a href="{% url 'accounts:new_order' %}">
            <img src="{% static 'image/buy_like_banner.png' %}" class="img-fluid">
        </a>
    </div>
    <div class="row my-lg-5 m-0 d-flex justify-content-center">
        <div class="col-lg-6 col-12 mt-5 m-0">
            <div class="card p-2 rounded-4">
                <div class="card-body">
                    <h5 class="card-title kalameh-font fs-3">خرید لایک اینستاگرام</h5>
                    <div class="nav-tabs-section" id="like-section">
                        <ul class="nav nav-pills mb-3 pills-tab" id="like-pills-tab" role="tablist">
                            {% for service in like_services %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-4" id="tab{{service.id}}" data-bs-toggle="pill"
                                    data-bs-target="#service{{service.id}}" type="button" role="tab"
                                    aria-controls="pills-home" aria-selected="true">{{service.title}}</button>
                            </li>
                            {% endfor %}
                        </ul>
                        <h6 class="my-3">
                            <img src="{% static 'icons/note.svg' %}" alt="">
                            <span class="fw-bold" style="color: #5D6B81">بسته های جذاب</span>
                        </h6>
                        {% for service in like_services %}
                        <div class="tab-content pills-tabContent" id="like-pills-tabContent">
                            <div class="rounded-4 tab-pane show" id="service{{service.id}}" role="tabpanel"
                                aria-labelledby="tab{{service.id}}" tabindex="0">
                                <div class="row row-cols-1 row-cols-md-2 g-2">
                                    {% for key, value in service.template_packages.items %}
                                    <div class="col">
                                        <div class="card rounded-4 px-1">
                                            <div class="row p-2">
                                                <div class="col d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <span>{{value.quantity}} عدد لایک</span><br>
                                                        <small>{{value.total_price}} {% trans 'Toman' %}</small>
                                                    </div>
                                                    <a href="{% url 'orders:new_order' service.id value.quantity %}"
                                                        class="btn btn-warning rounded-4">
                                                        <img src="{% static 'icons/shop-add.svg' %}" alt="">
                                                        خرید
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <img src="{% static 'image/like_icon.png' %}" class="mb-3 img-fluid" alt=""><br>
            <span class="text-warning">ایرانی گرام، ضامن کیفیت سرویس ها میباشد</span><br>
            <p class="kalameh-font mt-2" style="font-size:40px !important">خرید لایک با کیفیت اینستاگرام</p>
            <div class='row'>
                <div class="col-md-6 col-12">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/card-receive.svg' %}" alt="">
                            ضمانت بازگشت وجه
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/Heart.svg' %}" alt="">
                            بدون نیاز به لایک کردن دیگران
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/unlock.svg' %}" alt="">
                            بدون نیاز به پسورد پیج
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-12">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/timer-start.svg' %}" alt="">
                            شروع آنی پس از ثبت سفارش
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/Speed.svg' %}" alt="">
                            سرعت ارسال عالی
                        </li>
                    </ul>
                </div>
            </div>
            <p class="d-flex lh-md fs-5 mt-4 text-muted px-2 px-lg-0">با ورود به حساب کاربری خود در سایت ایرانی
                گرام،
                می‌توانید
                لایک‌های اینستاگرام با کیفیت و ویژگی‌های متنوع را در پنل اختصاصی به دست آورید. پس از خرید، لایک های
                شما به صورت خودکار به عکس مورد نظر شما اضافه می‌شوند و شما فقط کافیست صفحه خود را در حالت عمومی قرار
                دهید و به افزایش لایک و دیده شدن بیشتر پست خود نظارت کنید.</p>
        </div>
    </div>
    <!-- End Like Section -->
    <a href="{% url 'accounts:new_order' %}">
        <img src="{% static 'image/view_banner.png' %}" class="img-fluid">
    </a>
    <!-- Start View Section -->
    <div class="row mt-5">
        <div class="col-lg-6 col-12 mt-3">
            <img src="{% static 'image/like_icon.png' %}" class="mb-3 img-fluid"><br>
            <span class="text-warning">ایرانی گرام، ضامن کیفیت سرویس ها میباشد</span><br>
            <p class="kalameh-font mt-2" style="font-size:40px !important">خرید بازدید با کیفیت اینستاگرام</p>
            <div class='row'>
                <div class="col-md-6 col-12">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/card-receive.svg' %}" alt="">
                            ضمانت بازگشت وجه
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/View.svg' %}" alt="">
                            ارسال برای انواع ویدیو
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">

                            <img src="{% static 'icons/unlock.svg' %}" alt="">
                            بدون نیاز به پسورد پیج
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-12">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/timer-start.svg' %}" alt="">
                            شروع آنی پس از ثبت سفارش
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img src="{% static 'icons/Speed-Black.svg' %}" alt="">
                            تحویل با سرعت بسیار زیاد
                        </li>
                    </ul>
                </div>
            </div>
            <p class="d-flex lh-md fs-5 mt-4 text-muted">با ورود به حساب کاربری خود در سایت ایرانی گرام، می‌توانید
                انواع بازدید پست، IGTV، استوری و Reel اینستاگرام را با کیفیت و ویژگی‌های متنوع در پنل اختصاصی تهیه
                بفرمایید. پس از خرید، سفارش بازدید به صورت خودکار به ویدیو یا استوری مورد نظر شما اضافه می‌شوند و
                شما فقط کافیست صفحه خود را در حالت عمومی قرار دهید و به افزایش بازدید و دیده شدن بیشتر پست خود نظارت
                کنید.</p>
        </div>
        <div class="col-lg-6 col-12 mt-5">
            <div class="card p-2 rounded-4">
                <div class="card-body">
                    <h5 class="card-title kalameh-font fs-3">خرید بازدید اینستاگرام</h5>
                    <div class="nav-tabs-section mt-3" id="flw-section">
                        <ul class="nav nav-pills mb-3 pills-tab" id="flw-pills-tab" role="tablist">
                            {% for service in view_services %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-4" id="tab{{service.id}}" data-bs-toggle="pill"
                                    data-bs-target="#service{{service.id}}" type="button" role="tab"
                                    aria-controls="pills-home" aria-selected="true">{{service.title}}</button>
                            </li>
                            {% endfor %}
                        </ul>
                        <h6 class="my-3">
                            <img src="{% static 'icons/note.svg' %}" alt="">
                            <span class="fw-bold" style="color: #5D6B81">بسته های جذاب</span>
                        </h6>
                        {% for service in view_services %}
                        <div class="tab-content pills-tabContent" id="flw-pills-tabContent">
                            <div class="rounded-4 tab-pane show" id="service{{service.id}}" role="tabpanel"
                                aria-labelledby="tab{{service.id}}" tabindex="0">
                                <div class="row row-cols-1 row-cols-md-2 g-2">
                                    {% for key, value in service.template_packages.items %}
                                    <div class="col">
                                        <div class="card rounded-4 px-1">
                                            <div class="row p-2">
                                                <div class="col d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <span>{{value.quantity}} عدد</span><br>
                                                        <small class="fw-semibold">
                                                            {{value.total_price|intcomma}} {% trans 'Toman' %}
                                                        </small>
                                                    </div>
                                                    <a href="{% url 'orders:new_order' service.id value.quantity %}"
                                                        class="btn btn-warning rounded-4" target="_blank">
                                                        <img src="{% static 'icons/shop-add.svg' %}" alt="">
                                                        خرید
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End View Section -->
        <div class="row my-5">
            <div class="col-lg-6 col-12 text-center">
                <img src="{% static 'image/other_product.png' %}" class="img-fluid" width="400px"><br>
            </div>
            <div class="col-lg-6 col-12">
                <span class="text-warning">ایرانی گرام، ضامن کیفیت سرویس ها میباشد</span><br>
                <p class="kalameh-font mt-2" style="font-size:40px !important">و محصولات دیگر ...</p>
                <p class="d-flex lh-md fs-5 mt-2 text-muted px-2 px-lg-0">با ورود به حساب کاربری خود در سایت ایرانی
                    گرام، میتوانید در
                    پنل اختصاصی که برای شما تهیه شده تمام محصولاتی که مرتبط با پلتفرم اینستاگرام هست را مشاهده کنید و
                    تهیه بفرمایید. محصولاتی مانند بازدید پست اینستاگرام ، بازدید استوری اینستاگرام و بازدید ریل
                    اینستاگرام</p>
                <a href="{% url 'accounts:user_dashboard' %}" class="btn btn-warning btn-lg rounded-4 py-4">
                    ورود به پنل اختصاصی ایرانی گرام
                    <img src="{% static 'icons/Arrow-Left-Black.svg' %}" alt="">
                </a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-6 col-12">
                <p class="kalameh-font mt-5" style="font-size:40px !important">سوالی دارید؟</p>
                <p class="kalameh-font text-warning">پشتیبانی ما در خدمت شما هستند </p>
                <p>پشتیبانی ایرانی گرام همیشه با شما و در همه حال همراه شماست، سوالی دارید؟</p>
                <a href="{% url 'accounts:submit_ticket' %}" class="btn btn-warning rounded-4 py-4">
                    ارتباط با پشتیبانی
                    <img src="{% static 'icons/Arrow-Left-Black.svg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-12">
                <img src="{% static 'image/support.png' %}" class="img-fluid" width="450px"><br>
            </div>
        </div>
    </div>
</div>
{% include 'inc/footer.html' %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".nav-tabs-section").each(function () {
            var sectionId = $(this).attr("id");
            $("#" + sectionId + "> .pills-tab > :first-child > button").addClass("active")
            $(this).each(function () {
                $(this).children()[2].children[0].classList = 'rounded-4 tab-pane show active'
            });
        });
    });
</script>
{% endblock %}