{% extends 'base.html' %}
{% load i18n %}
{% load static %}
<!-- Start Title Tag -->
{% block title %}{% if title_tag %}{{title_tag}}{% endif %}{% endblock %}
<!-- Start Title Tag -->
{% block meta %}
<!-- Start Canonical Tag -->
{% if canonical_link %}
<link href="{{canonical_link}}" rel="canonical">
{% else %}
<link href="" rel="canonical">
{% endif %}
<!-- End Canonical Tag -->
<meta content="all" name="robots">
<meta content="fa" http-equiv="content-language">
<!-- Start Description Tag -->
{% if description_tag %}
<meta content="{{description_tag}}" name="description">
{% else %}
<meta content="" name="description">
{% endif %}
<!-- End Description Tag -->
<!-- Start Keywords Tag -->
{% if keywords_tag %}
<meta content="{{keywords_tag}}" name="keywords">
{% else %}
<meta content="" name="keywords">
{% endif %}
<!-- End Keywords Tag -->
{% endblock meta %}
{% block content %}
<div class="container">
    <div class="row mb-5 mt-4">
        <div class="col-lg-4 col-12 text-center">
            <img alt="افزایش بازدید استوری" class="img-fluid mt-4" height="409px"
                 src="{% static 'image/top_banner.webp' %}" width="416px">
        </div>
        <div class="col-lg-8 col-12 mt-5">
            <span class="fs-1 px-2 px-lg-0" style="font-size:45px !important;font-weight:900;">
                <span class="text-warning">ایرانی گرام،</span> خدمات بی‌نهایت اینستاگرام
            </span>
            <h1 class="lh-lg fs-4 mt-2 px-2 px-lg-0">خدمات خرید فالوور اینستاگرام و خرید لایک اینستاگرام و
                افزایش بازدید پست و استوری در قدیمی ترین وب سایت ارائه خدمات اینستاگرام</h1>
            <div class="row mt-4">
                <div>
                    <a class="btn btn-warning rounded-4 col-lg-3 col-12 mt-lg-0 py-4"
                       href="{% url 'accounts:new_order' %}">
                        ورود به پنل کاربری
                        <img alt="فلش چپ" height="24px" src="{% static 'icons/Arrow-Left-Black.svg' %}" width="24px">
                    </a>
                    <a class="btn btn-dark rounded-4 col-lg-3 col-12 mt-2 mt-lg-0 py-4"
                       href="{% url 'accounts:new_order' %}">
                        خرید فالوور اینستاگرام
                        <img alt="خرید فالوور اینستاگرام" height="24px" src="{% static 'icons/Arrow-Left-White.svg' %}"
                             width="24px">
                    </a>
                    <a class="btn btn-dark rounded-4 col-lg-3 col-12 mt-2 mt-lg-0 py-4"
                       href="{% url 'accounts:new_order' %}">
                        خرید لایک اینستاگرام
                        <img alt="خرید لایک اینستاگرام" height="24px" src="{% static 'icons/Arrow-Left-White.svg' %}"
                             width="24px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5 rounded-4 bg-black text-white p-4 mx-1 mx-lg-0">
        <div class="col-lg-3 col-12">
            <p class="fs-1 fw-normal">ویژگی های</p>
            <p style="font-size:50px !important;font-weight: 900;">ایرانی گرام</p>
        </div>
        <div class="col-lg-2 col-12 mt-2 mt-lg-0">
            <p><img alt="بالاترین کیفیت خدمات" height="60px" src="{% static 'icons/medal-star.svg' %}" width="60px"></p>

            <span class="fs-5 fw-bold">بالاترین کیفیت خدمات</span><br>
            <small class="mt-3">بالاترین و با کیفیت ترین خدمات را از ایرانی گرام بخواهید</small>
        </div>
        <div class="col-lg-2 col-12 mt-2 mt-lg-0">
            <p><img alt="سرعت بالا" height="60px" src="{% static 'icons/star.svg' %}" width="60px"></p>
            <span class="fs-5 fw-bold">سرعت بالا</span><br>
            <small class="mt-3">در سرعت و دقت ایرانی گرام همیشه در اولویت شما خواهد بود</small>
        </div>
        <div class="col-lg-2 col-12 mt-2 mt-lg-0">
            <p><img alt="مناسبت ترین تعرفه ها" height="60px" src="{% static 'icons/receipt-search.svg' %}" width="60px">
            </p>
            <span class="fs-5 fw-bold">مناسبت ترین تعرفه ها</span><br>
            <small class="mt-3">تعرفه های مناسب در کنار کیفیت فقط در ایرانی گرام معنی پیدا میکند</small>
        </div>
        <div class="col-lg-2 col-12 mt-2 mt-lg-0">
            <p><img alt="پشتیبانی ۲۴ ساعته" height="60px" src="{% static 'icons/like-tag.svg' %}" width="60px"></p>
            <span class="fs-5 fw-bold">پشتیبانی</span><br>
            <small class="mt-3">پشتیبانی ایرانی گرام همیشه در کنار شما خواهد بود و حامی شماست</small>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6 col-12 mt-4">
            <span class="px-2 px-lg-0 fw-bold fs-1">شروع کار ایرانی گرام چگونه است</span>
            <p class="d-flex lh-md fs-5 mt-4 text-muted px-2 px-lg-0">کار با سیستم ایرانی گرام بسیار ساده است، برای شروع
                می
                توانید از بالای سایت گزینه حساب کاربری را انتخاب کنید و با ورود به پنل اختصاصی ، یکی از خدمات از
                قبیل خرید فالوور اینستاگرام یا بازدید ویدیو و استوری و حتی لایک اینستاگرام را انتخاب نمایید و تعداد
                مدنظرتان را دریافت نمایید
                همچنین در این پنل اختصاصی امکانات بسیار کاربردی از قبیل خرید تمامی سرویس های ایرانی گرام با قابلیت
                شارژ و داشتن موجودی و خریدهای گروهی و امکانات دیگری مانند مشاهده تمامی لیست سفارشاتتان و تراکنش هایی
                که انجام داده اید قرار داده شده که میتوانید استفاده کنید.</p>
            <a class="btn btn-warning btn-lg rounded-4 py-3" href="{% url 'accounts:user_register' %}">ثبت نام در سایت
                <img alt="ثبت نام در ایرانی گرام" height="24px" src="{% static 'icons/Arrow-Left-Black.svg' %}"
                     width="24px">
            </a>
        </div>
        <div class="col-lg-6 col-12 text-center">
            <img alt="شروع کار ایرانی گرام چگونه است" class="img-fluid" height="514px"
                 src="{% static 'image/instagram-banner.webp' %}" width="500px">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-6 col-12 text-center mt-5">
            <img alt="شروع خرید فالوور با کیفیت اینستاگرام" class="img-fluid" height="386px"
                 src="{% static 'image/followers.webp' %}" width="300px"><br>
            <a class="btn btn-dark btn-lg mt-4 rounded-4 py-4" href="{% url 'accounts:new_order' %}">
                شروع خرید فالوور با کیفیت اینستاگرام
                <img alt="خرید فالوور" height="24px" src="{% static 'icons/Arrow-Left-White.svg' %}" width="24px">
            </a>
        </div>
        <div class="col-lg-6 col-12">
            <img class="mb-3 img-fluid mt-4 mt-lg-0" height="107px" src="{% static 'image/flw_icon.webp' %}"
                 width="126px"><br>
            <span class="text-warning fw-semibold">ایرانی گرام، ضامن کیفیت سرویس ها میباشد</span><br>
            <h2 class="my-4 fw-bold">خرید فالوور با کیفیت اینستاگرام</h2>
            <div class='row'>
                <div class="col-md-6 col-12">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img alt="ضمانت بازگشت وجه" height="24px" src="{% static 'icons/card-receive.svg' %}"
                                 width="24px">
                            ضمانت بازگشت وجه
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img alt="بدون نیاز به فالوو کردن دیگران" height="24px"
                                 src="{% static 'icons/people.svg' %}"
                                 width="24px">
                            بدون نیاز به فالوو کردن دیگران
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img alt="بدون نیاز به پسورد پیج" height="24px" src="{% static 'icons/unlock.svg' %}"
                                 width="24px">
                            بدون نیاز به پسورد پیج
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-12">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img alt="شروع آنی پس از ثبت سفارش" height="24px" src="{% static 'icons/timer-start.svg' %}"
                                 width="24px">
                            شروع آنی پس از ثبت سفارش
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img alt="دارای ریزش طبیعی" height="24px" src="{% static 'icons/trend-down.svg' %}"
                                 width="24px">
                            دارای ریزش طبیعی
                        </li>
                    </ul>
                </div>
            </div>
            <p class="d-flex lh-md fs-5 mt-4 text-muted px-2 px-lg-0">شما می توانید فالوور اینستاگرام را در انواع کیفیت
                و ویژگی
                ها در پنل اختصاصی سایت ایرانی گرام با ورود به حساب کاربری خود دریافت کنید . پس از خریدتان فالوورها
                به صورت خودکار به پیج شما اضافه می شوند و از طرف شما فقط نیاز هست که صفحه خود را در حالت عمومی قرار
                دهید و نظارگر افزایش فالوور و پیشرفت صفحه اینستاگرام خود باشید </p>
        </div>

    </div>
    <div class="row my-5">
        <div class="col">
            <img alt="ایرانی گرام ضامن کیفیت خرید شما" class="mb-3 img-fluid" height="119px"
                 src="{% static 'image/like_icon.webp' %}" width="118px"><br>
            <span class="text-warning">ایرانی گرام، ضامن کیفیت سرویس ها میباشد</span><br>
            <h2 class="fw-bold my-4">خرید لایک با کیفیت اینستاگرام</h2>
            <div class='row'>
                <div class="col-md-6 col-12">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img alt="ضمانت بازگشت وجه" height="24px" src="{% static 'icons/card-receive.svg' %}"
                                 width="24px">
                            ضمانت بازگشت وجه
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img alt="بدون نیاز به لایک کردن دیگران" height="24px" src="{% static 'icons/Heart.svg' %}"
                                 width="24px">
                            بدون نیاز به لایک کردن دیگران
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img alt="بدون نیاز به پسورد پیج" height="24px" src="{% static 'icons/unlock.svg' %}"
                                 width="24px">
                            بدون نیاز به پسورد پیج
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-12">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img alt="شروع آنی پس از ثبت سفارش" height="24px" src="{% static 'icons/timer-start.svg' %}"
                                 width="24px">
                            شروع آنی پس از ثبت سفارش
                        </li>
                        <li class="list-group-item bg-transparent border-0 py-2">
                            <img alt="سرعت ارسال عالی" height="24px" src="{% static 'icons/Speed.svg' %}" width="24px">
                            سرعت ارسال عالی
                        </li>
                    </ul>
                </div>
            </div>
            <p class="d-flex lh-md fs-5 mt-4 text-muted px-2 px-lg-0">با ورود به حساب کاربری خود در سایت ایرانی گرام،
                می‌توانید
                لایک‌های اینستاگرام با کیفیت و ویژگی‌های متنوع را در پنل اختصاصی به دست آورید. پس از خرید، لایک های
                شما به صورت خودکار به عکس مورد نظر شما اضافه می‌شوند و شما فقط کافیست صفحه خود را در حالت عمومی قرار
                دهید و به افزایش لایک و دیده شدن بیشتر پست خود نظارت کنید.</p>
        </div>
        <div class="col-lg-6 col-12 text-center mt-5">
            <img alt="شروع خرید لایک واقعی اینستاگرام" class="img-fluid" height="440px"
                 src="{% static 'image/likes.webp' %}" width="300px"><br>
            <a class="btn btn-dark btn-lg mt-4 rounded-4 py-4" href="{% url 'accounts:new_order' %}">
                شروع خرید لایک واقعی اینستاگرام
                <img alt="فلش سمت چپ" height="24px" src="{% static 'icons/Arrow-Left-White.svg' %}" width="24px">
            </a>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-6 col-12 text-center">
            <img alt="محصولات دیگر" class="img-fluid" height="293px" src="{% static 'image/other_product.webp' %}"
                 width="400px"><br>
        </div>
        <div class="col-lg-6 col-12">
            <span class="text-warning">ایرانی گرام، ضامن کیفیت سرویس ها میباشد</span><br>
            <p class="my-4 fw-bold fs-1">و محصولات دیگر ...</p>
            <p class="d-flex lh-md fs-5 mt-2 text-muted px-2 px-lg-0">با ورود به حساب کاربری خود در سایت ایرانی گرام،
                میتوانید در
                پنل اختصاصی که برای شما تهیه شده تمام محصولاتی که مرتبط با پلتفرم اینستاگرام هست را مشاهده کنید و
                تهیه بفرمایید. محصولاتی مانند بازدید پست اینستاگرام ، بازدید استوری اینستاگرام و بازدید ریل
                اینستاگرام</p>
            <a class="btn btn-warning btn-lg rounded-4 py-4" href="{% url 'accounts:user_dashboard' %}">
                ورود به پنل اختصاصی ایرانی گرام
                <img alt="پنل اختصاصی ایرانی گرام" height="24px" src="{% static 'icons/Arrow-Left-Black.svg' %}"
                     width="24px">
            </a>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-6 col-12">
            <p class="mt-5 fs-1 fw-bold">سوالی دارید؟</p>
            <p class="text-warning fs-3 fw-semibold">پشتیبانی ما در خدمت شما هستند</p>
            <p>پشتیبانی ایرانی گرام همیشه با شما و در همه حال همراه شماست، سوالی دارید؟</p>
            <a class="btn btn-warning rounded-4 py-4" href="{% url 'accounts:submit_ticket' %}">
                ارتباط با پشتیبانی
                <img alt="فلش سمت چپ" height="24px" src="{% static 'icons/Arrow-Left-Black.svg' %}" width="24px">
            </a>
        </div>
        <div class="col-lg-6 col-12">
            <img alt="پشتیبانی ایرانی گرام" class="img-fluid" height="252px" src="{% static 'image/support.webp' %}"
                 width="450px"><br>
        </div>
    </div>
    <div class="mb-5 mt-2">
        <p class="mt-5 fs-2 fw-bold">آخرین آموزش ها</p>
        <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
            {% for post in posts %}
            <div class="col mt-lg-5 mt-md-3">
                <a class="text-decoration-none" href="{% url 'posts:post_detail' slug=post.slug %}" target="_blank">
                    <div class="card h-100 rounded-4 border border-0 shadow p-2">
                        {% if post.thumbnail %}
                        <img alt="{{post.title}}" class="card-img-top rounded-4 h-md-100 post-img" height="192px"
                             src="{{post.thumbnail.url}}" width="290px">
                        {% endif %}
                        <div class="card-body">
                            <h6 class="card-title fw-semibold custom-black lh-base">{{post.title}}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a class="btn btn-light btn-lg mt-4 rounded-4 py-4 shadow" href="{% url 'posts:posts_list' %}">
                مشاهده تمامی آموزش ها
                <img alt="فلش سمت چپ" height="24px" src="{% static 'icons/Arrow-Left-Black.svg' %}" width="24px">
            </a>
        </div>
    </div>
</div>
{% include "inc/footer.html" %}
{% endblock %}