{% extends "accounts/dashboard_base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load jalali_tags %}
{% block title %}{% trans 'Notifications' %}{% endblock %}
{% block panelcontent %}
<p class="fw-semibold fs-3 mt-3">{% trans "Notifications" %}</p>
<hr>
{% if Notices %}
<div class="list-group">
  <ol class="list-group">
    {% for notice in Notices %}
    <li class="list-group-item d-flex justify-content-between align-items-start border-0">
      <img src="/media/{{notice.category.icon}}" alt="" width="24px">
      <div class="ms-2 me-auto">
        <h6 class="fw-bold">{{notice.title}}</h6>
        <span class="fw-bold text-muted">{{notice.detail|safe|linebreaks}}</span>
      </div>
      {% if request.user not in notice.readers.all %}
      <a href="{% url 'accounts:make_as_read' notice.pk %}" class="btn btn-sm btn-warning rounded-4">
        {% trans "change messages to read" %}
      </a>
    {% else %}
    <span>{% trans "read" %}</span>
      {% endif %}
    </li>
    <hr class="p-0 my-1">
    {% endfor %}
  </ol>
  {% else %}
  <div class="alert alert-light" role="alert">
    {% trans "No orders have been submitted yet" %}
  </div>
  {% endif %}

  {% endblock %}