{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
<!-- Start Title Tag -->
{% block title %}خرید {{pkg.quantity}} عدد {{pkg.service.service_type}}{% endblock %}
<!-- Start Title Tag -->
{% block content %}
<div class="container">
    <div class="row mb-4 mt-5 row justify-content-md-center">
        <div class="col-12 col-lg-6">
            <div class="card rounded-4">
                <div class="card-body">
                    <div class="text-white bg-black text-center p-4 rounded-4 mb-4">
                        <h3>
                            خرید {{pkg.quantity}} عدد {{pkg.service.service_type}}
                        </h3>
                        <small>
                            از سرور: {{pkg.service}}
                            <!-- Start Follower Desc Modal -->
                            <button type="button" class="btn bg-warning-subtle text-black rounded-4"
                                data-bs-toggle="modal" data-bs-target="#{{ pkg.id }}"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <img src="{% static 'icons/info.svg' %}" width="24px" height="24px" />
                                مشخصات
                            </button>
                            <div class="modal text-black fs-6" id="{{ pkg.id }}" tabindex="-1"
                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content rounded-4">
                                        <div class="modal-header border-0">
                                            <span class="fs-5">مشخصات سرور {{ pkg.service }}</span>
                                            <a type="button" class="text-start" data-bs-dismiss="modal"
                                                aria-label="Close">
                                                <img src="{% static 'icons/close-circle.svg' %}"
                                                    alt="بستن منوی اصلی ورود به صفحات">
                                            </a>
                                        </div>
                                        <div class="modal-body" style="text-align: right !important;">
                                            {{ pkg.service.description|linebreaks }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Follower Desc Modal -->
                        </small>
                    </div>
                    <form method="post" class="mt-3" novalidate>
                        {% csrf_token %}
                        {% include "inc/messages.html" %}
                        <input type="hidden" value="{{pkg.service.link_type}}" name="service_link_type">
                        <input type="hidden" value="{{pkg.service.id}}" id="id_service">
                        <input type="hidden" value="{{pkg.service.title}}" id="service_name">
                        <input type="hidden" value="{{pkg.id}}" name="pkg_id">
                        <div class="form-floating">
                            {{ order_form.link }}

                            {% if pkg.service.link_type == 'instagram_profile' %}
                            <label for="id_link" id="profile_link_label">
                                {% trans 'Instagram Profile ID' %}:
                            </label>
                            {% elif pkg.service.link_type == 'instagram_post_link' %}
                            <label for="id_link" id="post_link_label">
                                {% trans 'Instagram Post/IGTV/Reel Link' %}:
                            </label>
                            {% endif %}
                            <ul class="errorlist d-none" id="link-error">
                                <li></li>
                            </ul>
                            {{ order_form.link.errors }}
                        </div>
                        {% if pkg.service.link_type == 'instagram_profile' %}
                        <div class="form-text" id="basic-addon4">برای ثبت سفارش آیدی پیج مورد نظر را بدون @ وارد کنید و
                            پیج حتما عمومی باشد</div>
                        {% elif pkg.service.link_type == 'instagram_post_link' %}
                        <div class="form-text" id="basic-addon4">بعد از اطمینان از عمومی بودن، پیج لینک را کپی کنید و در
                            فرم بالا قرار دهید </div>
                        {% endif %}
                        <!-- enter dicount code if exist -->
                        <div class="input-group">
                            <div class="form-floating mt-2">
                                {{ order_form.discount }}
                                <label for="id_discount">{% trans 'Discount' %}:</label>
                                {{ order_form.discount.errors }}
                            </div>
                            <button class="btn btn-warning mt-2" type="button" id="buypage_check_discount">
                                بررسی کد تخفیف
                            </button>
                        </div>
                        <div class="form-text" id="discount_desc"></div>
                        <ul id="discount-info-text"></ul>
                        <!-- <div class="d-flex align-items-center gap-2">
                            <div class="col-md-8">
                                <div class="alert alert-warning text-center mt-2 mt-0" role="alert"
                                    id="acc_status_alert">
                                    <img src="" class="img-fluid rounded-5 d-none" id="profile_pic" width="64px">
                                    <span id="alert-msg">برای بررسی اکانت خود قبل از خرید، آی دی پیج یا لینک را در فیلد
                                        بالا وارد کنید و روی دکمه
                                        بررسی کلیک کنید</span>
                                </div>
                            </div>
                            <div class="col-md-4 d-grid gap-2 d-md-block text-center">
                                {% if pkg.service.link_type == 'instagram_profile' %}
                                <button class="btn btn-warning rounded-4 py-3 px-4 ms-1" type="button"
                                    id="getInstaInfo">
                                    <img src="{% static 'icons/Click.svg' %}" alt="">
                                    بررسی آی دی پیج
                                </button>
                                {% else %}
                                <button class="btn btn-warning rounded-4 py-3 px-4 ms-1" type="button"
                                    id="getInstaInfo">
                                    <img src="{% static 'icons/Click.svg' %}" alt="">
                                    بررسی لینک
                                </button>
                                {% endif %}
                            </div>
                        </div> -->

                        {% if request.user.is_authenticated %}
                        <div class="card border-0 bg-light p-2 mt-2">
                            <div class="form-check float-start">
                                {{ order_form.use_wallet }}
                                <label class="form-check-label" for="flexCheckDefault">
                                    استفاده از موجودی کیف پول - <small class="text-muted">
                                        {% trans "Credit" %}: {{ request.user.balance|intcomma }} {% trans "Toman" %}
                                    </small>
                                </label>
                                <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                                    data-bs-content="با انتخاب این گزینه، اگر کیف پول شما موجودی داشته باشد، مبلغ از کیف پول کسر شده و مابقی به درگاه
                                بانکی ارسال می‌شود.">
                                    <img src="{% static 'icons/Info.svg'%}" alt="">
                                </a>
                                {{ order_form.use_wallet.errors }}
                            </div>
                        </div>
                        <div class="row px-3 mt-3">
                            <span class="d-block" id="withoutDiscount">
                                <div class="row pb-2">
                                    <div class="col">
                                        <span class="fs-5 fw-bold">قابل پرداخت:&nbsp;</span>
                                    </div>
                                    <div class="col text-end">
                                        <span id="total_price" class="fs-5 fw-bold">{{pkg.amount|intcomma}}</span>&nbsp;
                                        <span class="fs-5 fw-bold">
                                            {% trans "Toman" %}
                                        </span>
                                    </div>
                                </div>
                            </span>
                            <span class="d-none" id="withDiscount">
                                <div class="row pb-2">
                                    <div class="col">
                                        <span class="fs-6 fw-bold">قیمت محصول:&nbsp;</span>
                                    </div>
                                    <div class="col text-end">
                                        <span class="fs-6 fw-bold" id="product_amount">--</span>&nbsp;
                                        <span class="fs-6 fw-bold">{% trans "Toman" %}</span>
                                    </div>
                                </div>
                                <div class="row pb-2">
                                    <div class="col">
                                        <span class="fs-6 fw-bold">مبلغ قابل پرداخت:&nbsp;</span>
                                    </div>
                                    <div class="col text-end">
                                        <span class="fs-6 fw-bold" id="payable_amount">--</span>&nbsp;
                                        <span class="fs-6 fw-bold">{% trans "Toman" %}</span>
                                    </div>
                                </div>
                                <div class="row pb-2">
                                    <div class="col">
                                        <span class="text-danger fw-bold fs-5">
                                            سود شما از خرید:&nbsp;
                                        </span>
                                    </div>
                                    <div class="col text-end">
                                        <span class="text-danger fw-bold fs-5" id="user_benefit">--</span>&nbsp;
                                        <span class="text-danger fw-bold fs-5">
                                            {% trans "Toman" %}
                                        </span>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <br>
                        <div class="card border-0 bg-light p-2 mt-2">
                            <div class="form-check float-start">
                                {{ order_form.acceptـtheـrules }}
                                <label class="form-check-label" for="flexCheckDefault">
                                    <small class="text-muted">
                                        قوانین ثبت سفارش را با دقت خواندم
                                    </small>
                                </label>
                                <a class="btn btn-light btn-sm shadow-sm" type="button" data-bs-toggle="modal"
                                    data-bs-target="#show-rules">
                                    <img src="{% static 'icons/Info.svg'%}" alt="">
                                    مطالعه قوانین
                                </a>
                                <div class="modal" id="show-rules" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content rounded-4">
                                            <div class="modal-header border-0">
                                                <span class="fs-5">
                                                    <!-- <img src="{% static 'icons/Info.svg' %}" alt=""> -->
                                                    قوانین کوتاه مربوط به ثبت سفارش
                                                </span>
                                                <a type="button" class="text-start" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                    <img src="{% static 'icons/close-circle.svg' %}"
                                                        alt="بستن منوی اصلی ورود به صفحات">
                                                </a>
                                            </div>
                                            <div class="modal-body">
                                                <div class="card border-0 bg-transparent">
                                                    <div class="row px-2 mb-2">
                                                        <small class="custom-black fw-bolder fs-5 py-2">
                                                            <img src="{% static 'icons/Info.svg' %}" alt="">
                                                            عمومی بودن پیج
                                                        </small>
                                                        <br>
                                                        <small class="text-black-50 fs-6 py-2">پیش از ثبت سفارش حتماً از عمومی بودن پیج خود اطمینان حاصل
                                                            نمایید، در
                                                            صورتی که پیج شما خصوصی باشد ، مجموعه ایرانی گرام هیچ مسئولیتی در قبال عدم انجام کار و حتی
                                                            بازگشت وجه نخواهد داشت.</small>
                                                        <small class="custom-black fw-bolder fs-5 py-2">
                                                            <img src="{% static 'icons/Info.svg' %}" alt="">
                                                            پیج تا اتمام سفارش باید عمومی بماند.
                                                        </small>
                                                        <small class="custom-black fw-bolder fs-5 py-2">
                                                            <img src="{% static 'icons/Info.svg' %}" alt="">
                                                            اگر پیج خصوصی است، حتما ابتدا پیج را عمومی کنید سپس لینک پست را کپی کنید
                                                        </small>
                                                        <small class="custom-black fw-bolder fs-5 py-2">
                                                            <img src="{% static 'icons/Info.svg' %}" alt="">
                                                            آیدی پیج را تا پایان سفارش و تحویل کامل آن، تغییر ندهید.
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ order_form.acceptـtheـrules.errors }}
                        <div class="d-flex justify-content-around mt-2">
                            <button type="submit" class="btn btn-warning rounded-4 me-1 py-3 px-4"
                                name="online_payment">
                                <span class="fs-6 fw-semibold">
                                    <img src="{% static 'icons/card-tick.svg' %}" alt="">
                                    {% trans 'Online Payment' %}
                                </span><br>
                                <small class="text-muted">{% trans "Payment with all bank cards" %}</small>
                            </button>
                        </div>
                        {% else %}
                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-around mt-2">
                            <button type="button" id="openMobileVerifyModal" class="btn btn-warning rounded-4 py-3"
                                name="openMobileVerifyModal" data-bs-toggle="modal" data-bs-target="#mobileVerify">
                                <span class="fs-6 fw-semibold">
                                    <img src="{% static 'icons/card-tick.svg' %}" alt="">
                                    {% trans 'Online Payment' %}
                                </span><br>
                                <small class="text-muted">تایید شماره موبایل و پرداخت</small>
                            </button>
                        </div>
                        <!-- Modal -->
                        <div class="modal" id="mobileVerify" tabindex="-1" aria-labelledby="mobileVerifyLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content rounded-4">
                                    <div class="modal-header border-0">
                                        <h1 class="modal-title fs-5" id="mobileVerifyLabel">تایید شماره موبایل</h1>
                                        <a type="button" class="text-start" data-bs-dismiss="modal" aria-label="Close">
                                            <img src="{% static 'icons/close-circle.svg' %}"
                                                alt="بستن منوی اصلی ورود به صفحات">
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <div id="forms-alert"></div>
                                        <div class="" id="phoneNumberForm">
                                            <form action="" method="POST" novalidate>
                                                {% csrf_token %}
                                                <small class="custom-black fw-bolder fs-5">
                                                    <img src="{% static 'icons/Info.svg' %}" alt="">
                                                    {% trans 'Hints' %}:
                                                </small><br>
                                                <small class="text-black-50 fs-6 fw-bolder">
                                                    <img src="{% static 'icons/Accept.svg' %}" alt="">
                                                    {% trans 'Please set your keyboard to English mode' %}
                                                </small><br>
                                                <small class="text-black-50 fs-6 fw-bolder">
                                                    <img src="{% static 'icons/Accept.svg' %}" alt="">
                                                    {% trans 'Sample correct phone number: 09123456789' %}
                                                </small><br>
                                                <small class="text-black-50 fs-6 fw-bolder">
                                                    <img src="{% static 'icons/Accept.svg' %}" alt="">
                                                    {% trans 'Please keep the phone in active mode because of the confirmation SMS' %}
                                                </small><br>
                                                <hr>
                                                <div class="form-floating mb-3">
                                                    <input type="number" dir="ltr" name="phoneNumber"
                                                        class="form-control" id="phoneNumber"
                                                        placeholder="{% trans 'Phone Number' %}">
                                                    <label for="phoneNumber">{% trans 'Phone Number' %}:</label>
                                                </div>
                                                <div class="row">
                                                    <input type="hidden" value="" id="hold_phone_number">
                                                    <button type="submit" id="getPhoneNumber" name="getPhoneNumber"
                                                        class="col-10 d-block mx-auto btn btn-warning rounded-4 py-3 mt-3 fs-5">
                                                        <img src="{% static 'icons/Send.svg' %}" alt="">
                                                        {% trans 'Send verification code' %}
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="d-none" id="verifyOtpForm">
                                            <form action="" method="POST" novalidate>
                                                {% csrf_token %}
                                                <div class="form-floating mb-2">
                                                    <input type="number" dir="ltr" name="otpCode" class="form-control"
                                                        id="otpCode" placeholder="{% trans 'Phone Number' %}"
                                                        aria-describedby="ExpireCodeCounter">
                                                    <div id="ExpireCodeCounter" class="form-text">
                                                        <span class="mt-3 rounded-4 py-2" id="counter_box">
                                                            {% trans 'The validity period of the code sent' %}:
                                                            <span id="expire_counter">60</span>
                                                            {% trans 'second' %}
                                                        </span>
                                                        <a class="btn btn-dark btn-sm mt-1 shadow-sm rounded-4 d-none"
                                                            id="send_otpcode_again" onclick="sendCodeAgain()">
                                                            <img src="{% static 'icons/refresh-white.svg' %}" alt="" />
                                                            {% trans 'Send Code Again' %}
                                                        </a>
                                                    </div>
                                                    <label for="phoneNumber">
                                                        {% trans 'OTP Code' %}:
                                                    </label>
                                                </div>
                                                <div class="row">
                                                    <button type="submit" id="verifyPhoneNumber"
                                                        name="verifyPhoneNumber"
                                                        class="col-10 d-block mx-auto btn btn-warning rounded-4 py-3 mt-3 fs-5">
                                                        <img src="{% static 'icons/Send.svg' %}" alt="">
                                                        تایید شماره موبایل و پرداخت سفارش
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
            <!-- pay with all banks' card -->
            <!-- <div class="card rounded-4 mt-3">
                <div class="card-body">
                    <span class="fw-semibold text-muted">قابل پرداخت با تمامی کارت های عضو شتاب</span><br>
                    <div class="mt-2 text-center">
                        <img src="{% static 'icons/bank_logo/keshavarzi.svg' %}" class="me-5" alt="" width="32px"
                            height="40px">
                        <img src="{% static 'icons/bank_logo/mellat.svg' %}" alt="" class="me-5" alt="" width="32px"
                            height="40px">
                        <img src="{% static 'icons/bank_logo/melli.svg' %}" alt="" class="me-5" alt="" width="32px"
                            height="40px">
                        <img src="{% static 'icons/bank_logo/parsian.svg' %}" alt="" class="me-5" alt="" width="32px"
                            height="40px">
                        <img src="{% static 'icons/bank_logo/saman.svg' %}" alt="" class="me-5" alt="" width="32px"
                            height="40px">
                        <img src="{% static 'icons/bank_logo/sepah.svg' %}" alt="" class="me-5" alt="" width="32px"
                            height="40px">
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="card mb-5 border-0 rounded-4"
        style="background-image: linear-gradient(to right, #ffbe08, #ffb605, #ffad05, #ffa506, #ff9c0a);">
        <div class="card-body">
            <div class="row p-4">
                <div class="col-md-8">
                    <img src="{% static 'icons/24-support-white.svg' %}" alt="" class="me-1" width="46px" height="46px">
                    <span class="fw-bold text-white fs-4">مشاوره رایگان</span><br>
                    <span class="text-white fw-bold">ساعت پشتیبانی: همه روزه از ساعت ۹ صبح تا ۱۰ شب (همیشه
                        آنلاین)</span>
                </div>
                <div class="col-md-4 pt-3 text-center">
                    <h1 class="fw-bold">09214541602</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "inc/footer.html" %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let csrf_token = $("[name=csrfmiddlewaretoken]").val();
    $(document).ready(function () {
        $("#openMobileVerifyModal").click(function (e) {
            var link = $("#id_link").val();
            if (link.length === 0) {
                $('#mobileVerify').modal('hide');
                $("#link-error").removeClass('d-none');
                $("#link-error").children("li").html('لطفا لینک/آی دی عمومی اینستاگرام وارد کنید');
            }
            else {
                $("#link-error").addClass('d-none');
                $('#mobileVerify').modal('show');
            }
        })
        let service_link_type = $("[name=service_link_type]").val();
        $("#getInstaInfo").click(function () {
            var link = $("#id_link").val();
            if (link.length === 0) {
                $("#link-error").removeClass('d-none');
                $("#link-error").children("li").html('لطفا لینک/آی دی عمومی اینستاگرام وارد کنید');
            }
            else {
                $("#link-error").addClass('d-none');
                $('#getInstaInfo').removeClass('btn-success')
                $('#getInstaInfo').addClass('btn-warning')
                $('#getInstaInfo').html(`
                <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                <span role="status">در حال دریافت اطلاعات</span>
            `)
                $.ajax({
                    url: "/orders/get-insta-info/",
                    data: {
                        link: link,
                        service_link_type: service_link_type,
                    },
                    headers: {
                        "X-CSRFToken": csrf_token,
                    },
                    success: function (data) {
                        if (data.status == 'acc_available') {
                            $("#profile_pic").removeClass('d-none');
                            $("#profile_pic").attr('src', data.profile_pic)
                            if (data.acc_privacy == 'acc_public') {
                                $("#acc_status_alert").removeClass('alert-warning');
                                $("#acc_status_alert").addClass('alert-success');
                                $("#alert-msg").html('پیج شما عمومی است و می توانید خرید بفرمایید');
                                $('#getInstaInfo').removeClass('btn-warning')
                                $('#getInstaInfo').addClass('btn-success')
                                $('#getInstaInfo').html(`
                            <img src="{% static 'icons/Accept-White.svg' %}" alt="">
                            دریافت شد
                            `)
                            }
                            else {
                                $('#getInstaInfo').addClass('btn-success')
                                $('#getInstaInfo').html(`
                            <img src="{% static 'icons/Accept-White.svg' %}" alt="">
                            دریافت شد
                            `)
                                $("#acc_status_alert").removeClass('alert-warning');
                                $("#acc_status_alert").addClass('alert-info');
                                $('#getInstaInfo').removeClass('btn-warning');
                                $('#getInstaInfo').addClass('btn-success');
                                $("#alert-msg").html('پیج شما خصوصی است. ابتدا پیج خود را در حالت عمومی قرار دهید سپس اقدام به خرید بفرمایید');
                            }
                        }
                        else {
                            $("#getInstaInfo").html(`
                            <img src="{% static 'icons/Click.svg' %}" alt="">
                                    بررسی لینک
                            `);
                            $("#acc_status_alert").removeClass('alert alert-warning text-center mt-2');
                            $("#acc_status_alert").addClass('alert alert-danger text-center mt-2');
                            $('#acc_status_alert').html('آی دی پیج وارد شده اشتباه است. لطفا دوباره بررسی بفرمایید');
                        }
                    },
                });
            }

        });
        $('#getPhoneNumber').click(function (e) {
            let phone_number = $("#phoneNumber").val();
            var link = $("#id_link").val();
            e.preventDefault();
            $.ajax({
                url: "/orders/get-phone-number/",
                data: {
                    phone_number: phone_number,
                    link: link,
                },
                headers: {
                    "X-CSRFToken": csrf_token,
                },
                success: function (data) {
                    if (data.success) {
                        $('#verifyOtpForm').removeClass('d-none')
                        $('#phoneNumberForm').addClass('d-none')
                        $('#forms-alert').html("کد یک بار مصرف ارسال شد")
                        $('#forms-alert').removeClass("alert alert-danger")
                        $('#forms-alert').addClass("alert alert-success")
                        $("#hold_phone_number").val(data.phone_number)
                        checkExpireTime(phone_number);
                        intervalId = setInterval(function () {
                            checkExpireTime(phone_number);
                        }, 1000);
                    }
                    else {
                        $('#forms-alert').html("شماره تلفن وارد شده اشتباه است. لطفا مانند نمونه وارد کنید")
                        $('#forms-alert').removeClass("alert alert-success")
                        $('#forms-alert').addClass("alert alert-danger")
                    }
                }
            })
        })
        $('#verifyPhoneNumber').click(function (e) {
            let phone_number = $("#hold_phone_number").val();
            let pkg_id = $("[name=pkg_id]").val();
            let otpCode = $("#otpCode").val();
            let intervalId;
            e.preventDefault();
            $.ajax({
                url: "/orders/verify-phonenumber-pay/",
                data: {
                    phone_number: phone_number,
                    otpCode: otpCode,
                },
                headers: {
                    "X-CSRFToken": csrf_token,
                },
                success: function (data) {
                    if (data.success) {
                        $('#forms-alert').removeClass("d-none").addClass("d-block")
                        $('#forms-alert').html("شماره موبایل شما تایید شد. در حال ارسال به درگاه بانکی ...")
                        $('#forms-alert').addClass("alert alert-info")
                        var pkgId = "pkg-id=" + encodeURIComponent(pkg_id)
                        var redirectUrl = "{% url 'orders:send_to_payment' %}?" + pkgId;
                        window.location.href = redirectUrl;
                    }
                    else {
                        $('#forms-alert').html("لطفا کد صحیح ارسال شده را وارد کنید")
                        $('#forms-alert').addClass("alert alert-danger")
                    }
                }
            })
        })
    });
    function checkExpireTime(phone_number) {
        $.ajax({
            url: "/dashboard/check-expire-time/",
            data: { phone_number: phone_number },
            headers: { "X-CSRFToken": csrf_token },
            success: function (data) {
                if (data.remain_time >= 0) {
                    $('#expire_counter').html(data.remain_time)
                }
                else {
                    clearInterval(intervalId);
                    $('#counter_box').addClass('d-none');
                    $('#send_otpcode_again').removeClass('d-none');
                    $('#forms-alert').addClass("d-none")
                }
            },
            error: function (error) {
                clearInterval(intervalId);
            }
        });
    }
    function sendCodeAgain() {
        phone_number = $("#hold_phone_number").val()
        $.ajax({
            url: "/dashboard/send-otpcode-again/",
            data: { phone_number: phone_number },
            headers: { "X-CSRFToken": csrf_token },
            success: function (data) {
                $('#counter_box').removeClass('d-none');
                $('#send_otpcode_again').addClass('d-none');
                $('#forms-alert').removeClass("d-none")
                $('#forms-alert').html("کد یک بار مصرف ارسال شد")
                checkExpireTime(phone_number);
                intervalId = setInterval(function () {
                    checkExpireTime(phone_number);
                }, 1000);
            }
        })
    }

    let discount_btn = document.getElementById("buypage_check_discount")
    discount_btn.addEventListener("click", (event) => {
        event.preventDefault()
        let discount_code = document.getElementById("id_discount").value
        let service_selection = document.getElementById("id_service");
        let discount_desc = document.getElementById("discount_desc");
        let discount_info_box = document.getElementById("discount-info-text");
        let pkg_id = $("[name=pkg_id]").val();
        url = "/orders/check-discount-code/"
        $.ajax({
            url: url,
            method: "POST",
            data: {
                discount_code: discount_code,
                service_id: service_selection.value,
                pkg_id: pkg_id
            },
            headers: {
                "X-CSRFToken": csrf_token,
            },
            success: function (data) {
                if (data.code_available) {
                    if (data.service_match) {
                        discount_btn.classList = 'btn btn-success mt-2'
                        discount_btn.innerHTML = `
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M7.75 11.9999L10.58 14.8299L16.25 9.16992" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                کد صحیح
                                                `
                        document.getElementById("withoutDiscount").classList = "d-none"
                        document.getElementById("withDiscount").classList = "d-block"
                        document.getElementById('product_amount').innerHTML = data.product_amount
                        document.getElementById('payable_amount').innerHTML = data.payable_amount
                        document.getElementById('user_benefit').innerHTML = data.user_benefit
                        document.getElementById('id_link').setAttribute('readonly', '');
                        discount_info_box.classList.add("d-none");
                        document.getElementById('discount_desc').innerHTML = "زمانی که کد تخفیف فعال شود،‌ تغییر فرم ممکن نیست. برای تغییر فرم لطفا صفحه را رفرش کنید"
                    }
                    else {
                        discount_info_box.classList.add("errorlist")
                        let service_name = document.getElementById("service_name").value
                        discount_info_box.innerHTML = `کد تخفیف <span>${discount_code}</span> مربوط به سرویس <span>${service_name}</span> نیست`
                    }
                }
                else {
                    discount_info_box.classList.add("errorlist")
                    discount_info_box.innerHTML = `کد وارد شده صحیح نیست`
                }
            }
        })
    })
</script>

{% endblock content %}