{% extends "accounts/dashboard_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} {% trans 'New Order' %} | {% endblock %}
{% block panelcontent %}
<div class="row mt-4">
    <div class="col-lg-6 col-12">
        <form action="" method="POST" id="new_order_form" data-services-url="{% url 'services:service_list' %}"
            data-service-url="{% url 'services:service_desc' %}" novalidate>
            {% csrf_token %}
            <p class="fw-bold"><img src="{% static 'icons/StartHere.svg' %}" alt=""> {% trans 'Start Here' %}</p>
            {{ form.non_field_errors }}
            <div class="form-floating mt-2">
                {{ order_form.service_type }}
                <label for="{{ order_form.Service_type.id_for_label }}">{% trans 'Choose Service Type' %}:</label>
                {{ order_form.service_type.errors }}
            </div>
            <div class="form-floating mt-2">
                {{ order_form.service }}
                <label for="{{ order_form.service.id_for_label }}">{% trans 'Choose Service' %}:</label>
                {{ order_form.service.errors }}
            </div>
            <div class="form-floating mt-2">
                {{ order_form.link }}
                <label for="{{ id_link }}" class="d-none" id="post_link_label">{% trans 'Instagram Post/IGTV/Reel Link' %}:</label>
                <label for="{{ id_link }}" class="d-block" id="profile_link_label">{% trans 'Instagram Profile ID' %}:</label>
                {{ order_form.link.errors }}
            </div>
            <div class="form-floating mt-2">
                {{ order_form.quantity }}
                <label for="id_quantity">{% trans 'Quantity' %}:</label>
                {{ order_form.quantity.errors }}
            </div>
            <div class="input-group mt-2">
                <div class="form-floating alert alert-warning" role="alert">
                    <span>{% trans "The number of requests" %}:&nbsp;<span id="total_number">--</span>&nbsp;{% trans "Number" %}</span>
                    <hr>
                    <span>{% trans "Final fee payable" %}:&nbsp;<span id="total_price">--</span>&nbsp;{% trans "Toman" %}</span>
                </div>
            </div>
            <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-warning rounded-4 me-1" name="online_payment">
                    <span class="fs-6 fw-semibold">
                        <img src="{% static 'icons/card-tick.svg' %}" alt=""> {% trans 'Online Payment' %}</span><br>
                    <small class="text-muted">{% trans "Payment with all bank cards" %}</small>
                </button>
                <button 
                    type="submit" 
                    class="btn btn-warning rounded-4 py-3 ms-1 credit-payment-button"
                    id="credit_payment"
                    name="credit_payment"
                    data-user-balance={{ request.user.balance }}>
                    <span class="fs-6 fw-semibold">
                        <img src="{% static 'icons/wallet-check.svg' %}" alt=""> {% trans 'Pay with Wallet' %}
                    </span><br>
                    <small class="text-muted">{% trans "Credit" %}: {{ request.user.balance }} {% trans "Toman" %}</small>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="paymentModal" data-bs-backdrop="static" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="modal_body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning rounded-4 py-3" id="modal_pay_button">
                                    <span class="fs-6 fw-semibold">
                                        <img src="{% static 'icons/card-tick.svg' %}" alt=""> {% trans 'Online Payment' %}
                                    </span><br>
                                    <small class="text-muted">{% trans "Payment with all bank cards" %}</small>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal -->

            </div>
        </form>
    </div>
    <div class="col-lg-6 col-12 mt-4 mt-lg-0">
        <p class="fw-bold"><img src="{% static 'icons/Info.svg' %}" alt=""> {% trans 'Product Specifications' %}</p>
        <div class="alert alert-light text-center d-block bg-transparent border-2" id="no-choice-product" role="alert">
            <small>{% trans "Please select a product" %}</small>
        </div>
        <div class="card p-3 border-0 d-none bg-transparent" id="product-spec-box">
            <div class="col">{% trans "Title of product" %}:
                <span id="title_service" class="fw-bold"></span>
            </div>
            <hr>
            <div>
                <span class="fs-6">{% trans "Order range between" %}</span>
                <span id="min_service" class="fw-bold"></span>
                <span>{% trans "to" %}</span>
                <span id="max_service" class="fw-bold"></span>
                <span>{% trans "Number" %}</span>
            </div>
            <hr>
            <div>
                {% trans "Price per 1" %}:
                <span id="price_per_unit_service" class="fw-bold"></span>
                {% trans "Toman" %}
            </div>
            <hr>
            <div class="row">
                <label for="desc_box" class="form-label">{% trans "Description" %}: </label>
                <div id="desc_box" class="fw-bold"></div>
            </div>
        </div>
    </div>
</div>
{% endblock panelcontent %}