{% extends "accounts/dashboard_base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load jalali_tags %}
{% block title %}{% trans 'Orders' %}{% endblock %}
{% block panelcontent %}
<p class="fw-semibold fs-3 mt-3">{% trans "Orders Report" %}</p>
<hr>
{% if Orders %}
<div class="table-responsive">
    <table class="table caption-top table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">{% trans "Order Code" %}</th>
                <th scope="col" class="text-center">{% trans "Quantity" %}</th>
                <th scope="col" class="text-center">{% trans "Price" %}</th>
                <th scope="col" class="text-center">{% trans "Link" %}</th>
                <th scope="col" class="text-center">{% trans "Status" %}</th>
                <th scope="col" class="text-center">{% trans "Remains" %}</th>
                <th scope="col" class="text-center">{% trans "Paid Status" %}</th>
                <th scope="col" class="text-center">{% trans "Details" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for order in Orders %}
            <tr>
                <th class="text-center align-middle">{{ page_obj.start_index|add:forloop.counter0 }}</th>
                <td class="text-center align-middle">
                    {{ order.order_code }}
                </td>
                <td class="text-center align-middle">{{ order.quantity }} {% trans "Number" %}</td>
                <td class="text-center align-middle">{{ order.amount|intcomma }} {% trans "Toman" %}</td>
                <td class="text-center align-middle">
                    {% if order.service.link_type == 'instagram_profile' %}
                    <a href="https://www.instagram.com/{{ order.link }}" target="_blank"
                        class="btn btn-light rounded-4 mt-1 mt-lg-0">
                        <img src="{% static 'icons/link.svg' %}" alt="">
                    </a>
                    {% elif 'https://www.instagram.com/' in order.link or 'https://instagram.com/' in order.link %}
                    <a href="{{ order.link }}" target="_blank" class="btn btn-light rounded-4 mt-1 mt-lg-0">
                        <img src="{% static 'icons/link.svg' %}" alt="">
                    </a>
                    {% else %}
                    <a href="{{ order.link }}" target="_blank" class="btn btn-light rounded-4 mt-1 mt-lg-0">
                        <img src="{% static 'icons/link.svg' %}" alt="">
                    </a>
                    {% endif %}
                </td>
                {% if order.paid %}
                <td class="text-center align-middle">{% trans order.status %}</td>
                {% else %}
                <td class="text-center align-middle">{% trans 'Unpaid' %}</td>
                {% endif %}

                {% if order.remains >= 0 %}
                <td class="text-center align-middle">{{ order.remains }}</td>
                {% else %}
                <td class="text-center align-middle">--</td>
                {% endif %}

                {% if order.paid %}
                <td class="text-center align-middle">
                    <img src="{% static 'icons/Accept.svg' %}" alt="">
                    {% trans 'Paid' %}
                </td>
                {% else %}
                <td class="text-center align-middle">
                    <button class="btn btn-warning rounded-4 py-1" id="complete-order-payment" 
                    data-user-balance={{request.user.balance }} data-total-amount={{ order.amount }} data-order-id={{ order.id }}>
                        <img src="{% static 'icons/card-tick.svg' %}" alt="">
                        {% trans 'Pay' %}
                    </button>
                </td>
                {% endif %}
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-warning rounded-4" data-bs-toggle="modal"
                        data-bs-target="#{{ order.id }}">
                        <img src="{% static 'icons/details.svg' %}" alt="">
                    </button>
                    <div class="modal" id="{{ order.id }}" tabindex="-1" aria-labelledby="orderDetailsLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content rounded-4">
                                <div class="modal-header border-0">
                                    <a type="button" class="text-start" data-bs-dismiss="modal" aria-label="Close">
                                        <img src="{% static 'icons/close-circle.svg' %}"
                                            alt="بستن منوی اصلی ورود به صفحات">
                                    </a>
                                </div>
                                <div class="modal-body pt-0">
                                    <h1 class="modal-title fs-3" id="orderDetailsLabel">جزییات سفارش</h1>
                                    <hr>
                                    <div class="text-start">
                                        <p>{% trans "Service" %}: {{ order.service }}</p>
                                        <p>{% trans "Created At" %}: {{ order.created_at|to_jalali:'%Y/%m/%d - %H:%M' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<div class="alert alert-light" role="alert">
    {% trans "No orders have been submitted yet" %}
</div>
{% endif %}
{% endblock %}